/*--------------Media Queries--------------*/

/*---------max-width:768px----------------------*/
@media(max-width:768px){
nav{
    display:grid;
    grid-template-columns:repeat(2,1fr)
    align-self:center;
    background:transparent;
    padding:2px;

}
nav li{
    font-size:12px;

}
.logo img{
    width:200px;
    height:100px;
}
.banner{
    width:100%;
    height:700px;
    position:absolute;
    margin-top:20px;
    animation:banner 1s ease-in ; 
} 
@keyframes banner{
    0%{
       font-size:0px;
       }
   100%{
       font-size:30px;
    }
}

#section0{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    width:100%;
}
.banner{
    width:100%;
    height:700px;
    position:absolute;
    top:30%;
    left:-50px;
    margin:20px;
    
}
.banner h1{
    margin-left:50px;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
    font-size:50px;
    font-weight:bold;
    background:#fff;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
   
}
.animation{
   width:100%;
   height:700px;
   position:relative;
   margin-top:50px;
   
}
.square{
    position:absolute;
    top:50%;
    left:30%;
    width:20px;
    height:20px;
    border-radius:5%;
    transform:rotateZ(230deg);
    animation:size 2s linear infinite;
    animation-delay:10s;
}
 
#section1 .main-article{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:5px;
    padding:50px;
}
.main-image{
    flex:1;
    margin:40px;

}
.main-image img{
    align-content:center;
    margin-bottom:10px;
    width:100%;
    height:300px;
}
.main-para{
    flex:1;
}
.main-para h2 p a{
    display:flex;
    flex-direction:column;
}
.main-para h2{
   padding:0px;
}
.main-para p{
     font-size:18px;
     margin-bottom:20px;
}
.main-para a {
    text-decoration:none;
}

a .btn{
    margin-top:50px;
    padding:5px;
    align-content:center;
}


#section2{
    background:#eee;
    margin-top:50px;
    padding:0px;
    color:#333;
    position:relative;
}
#section2 .main-heading{
    background:#4682B4;
    color:#fff;
    text-align:center;


}
#section2 .article2{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
    margin:10px;
    padding:10px;
    align-items:center;
    justify-self:center;
}

.image-two .vt{
    grid-column:1/2;
    align-items:center;
    position:relative;
    right:50px
}
.vt{
    padding:20px;
    margin-left:0px;
    
    width:100px;
    height:auto; 
    border:none;
    }    
    
.para-two h3{
    grid-column:1/2;
    font-size:20px;
    padding:0px;

}
.para-two p{
    grid-column:1/2;
    font-size:18px;
    padding:5px;
}

  #section3{
    background:#fff;
    margin-top:50px;
    padding:20px;
    display:flex;
    flex-direction:column;
    }
    .animation .img1{
      width:100px;
      height:100px;
    }
    .animation .img2{
      width:100px;
      height:100px;
    }
    #section4{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:50px;
    }
    #section4 .small1{
       flex:1;
       align-content:center;
    }
    .small1 img{
        width:100%;
        height:auto;
    }
    .small1 p{
        font-size:15px;
        padding:10px;
    }
    #section4 .small2{
       flex:1;
       align-content:center;
    }
    .small2 img{
        width:100%;
        height:auto;
    }
    .small2 p{
        font-size:15px;
        padding:10px;
    }

    #section4 .small3{
       flex:1;
       align-content:center;
    }
    .small3 img{
        width:100%;
        height:auto;
    }
    .small3 p{
       font-size:15px;
       padding:10px;
    }
   .container-1{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-1 iframe{
        margin-top:50px;
        width:100%;
        height:200px;
    }
    .box-2 p{
    font-size:12px;
    }
    .box-2 h3{
       text-align:center;
       margin-top:50px;
    }
    .container-2{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-3 iframe{
        margin-bottom:50px;
        width:100%;
        height:200px;
    }

    .box-4 p{
    font-size:12px;
    }
    .box-4 h3{
       text-align:center;
       margin-top:50px;
    }
    .container-3{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-5 iframe{
        margin-top:50px;
        width:100%;
        height:200px;
    }

    .box-6 p{
    font-size:12px;
    }
    .box-6 h3{
       text-align:center;
       margin-top:50px;
    }
    .container-4{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px; 
    }
   
    .box-7 iframe{
        margin-bottom:50px;
        width:100%;
        height:200px;
    }
    .box-8 p{
       font-size:12px;
    }
    .box-8 h3{
       text-align:center;
       margin-top:50px;
    }
    .container-5{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-9 iframe{
        margin-top:50px;
        width:100%;
        height:200px;
    }

    .box-10 p{
    font-size:12px;
    }
    .box-10 h3{
       text-align:center;
       margin-top:50px;
    }
    
    .subscribe{
    background:transparent;
    margin:30px;
    padding:20px;
    border:2px solid #4682B4;
    line-height:2em;
    color:#333; 
    font-weight:bold;
    width:400px;
    font-size:18px;
    box-shadow:0px 4px 6px #333;
    }
    .sign-up{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
    margin:50px;
    padding:10px;
    background-image:url(images/signup.svg);
    background-repeat:no-repeat;
    background-position:right;
    background-size:230px 200px;    
    }
    
    .in-touch1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:300px;
    box-shadow:10px 4px 6px #333;
    }
    .in-touch2{
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:300px;
        box-shadow:10px 4px 6px #333;
    }
    .contact{
        display:flex;
        flex-direction:column;
        background-image:url("images/contact.svg");
        box-shadow:10px 4px 6px #333;
    }
    .subscribe{
        width:350px;
        font-size:18px;
        box-shadow:10px 4px 6px #333;
    }
    .subscribe label{
        padding:10px;
        margin-top:15px;
        display:inline;
    }
    .subscribe input{
        width:100%;
        padding:10px;

    }
    pre{
        font-size:15px;
        color:#000;
    }
    
    footer{
        background:#dfe9f3 ;
        text-align:center;
        padding:5px;
        width:100%;
    }
    footer img{
        width:150px;
        height:80px;
        padding:5px;
    }
    footer i{
        font-size:25px;
        padding:5px;
        color:#4682B4;
    }
    footer p{
        font-size:15px;
    }
}



/*----------------max-width:900px--------------------*/

@media(max-width:900px){
    #section2{
    background:#eee;
    margin-top:50px;
    padding:5px;
    color:#333;
    }
    #section2 .heading{
        background:#4682B4;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    #section2 .article2{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;

    }
    .para-two{
        flex:1;

    }
    .image-two{
        flex:1;
    }
    .image-two iframe{
        margin:50px;
        width:300px;
        height:200px;

    }
    .para-two h3{
        flex-direction:column;
        font-size:18px;
        padding:0px;
    }
    .para-two p{
        flex-direction:column;
        font-size:16px;
        padding:5px;
    }
    .para-two a{
    flex-direction:column;
    font-size:15px;
    padding:8px;
    text-decoration:none;
    }

    a .btn{
        margin:50px ;
        padding:5px;
    }

    #section3{
        background:#eee;
        margin-top:50px;
        padding:5px;
        color:#333;
    }
    #section3 .heading{
        background:#4682B4;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;


    }
    #section3 .article2{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;

    }
    .para-three{
        flex:1;
    }
    .image-three{
        flex:1;
    }
    .image-three img{
        margin:50px;
        width:200px;
        height:300px;

    }
    .para-three h3{
        flex-direction:column;
        font-size:15px;
        padding:0px;

    }
    .para-three p{
        flex-direction:column;
        font-size:16px;
        padding:5px;
    }
    .para-three a{
    flex-direction:column;
    font-size:15px;
    padding:8px;
    text-decoration:none;
    }

    a .btn{
        margin:50px ;
        padding:5px;
    }
    #section4{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        color:#fff;
        margin:50px;
    }
    #section4 .small1{
       flex:1;
       align-content:center;

    }
    .small1 img{
        width:300px;
        height:200px;
    }
    .small1 p{
        font-size:15px;
        padding:10px;
    }
    #section4 .small2{
       flex:1;
       align-content:center;
    }
    .small2 img{
        width:300px;
        height:200px;
    }
    .small2 p{
        font-size:15px;
        padding:10px;
    }

    #section4 .small3{
       flex:1;
       align-content:center;
    }
    .small3 img{
        width:300px;
        height:200px;
    }
    .small3 p{
       font-size:15px;
       padding:10px;
    }

    .container-3d{
      display:flex;
      flex-direction:column;
      margin:20px;
      padding:10px;
      border:2px solid #eee;
    }
    .3d-article1{
       flex:2;
       flex-basis:20%;

    }
    .image-3d {
        width:300px;
        height:300px;
    }

    .3d-article1 h1{
        margin:20px;
        padding:20px;
        text-transform:uppercase;
    }
    .3d-article1 p{
        margin:5px;
        line-height:1em;
        font-size:12px;
    }
    .code{
        width:100%;
        height:200px;
        padding:10px;
    }
    .concept{
        width:200px;
        height:150px;
        margin:5px;
    }
    .3d-article2{
        flex:2;
        margin:20px;
    }
    .para{
        padding:5px;
        background:#fff;
    }
    .3d-article2 h3{
        padding:20px;
    }
}


/*----------------max-width:1024px--------------------*/
@media(max-width:1024px){
    .resource{
        width:100%;
        height:200px;
        float:center;

    }
    .heading{
        margin-top:20px;
        padding:15px;
        color:white;
        background:teal;
        font-size:18px;
    }
    .container-books1{
        display:flex;
        flex-direction:row;
        margin:10px;
        padding:20px;
        box-shadow:0px 8px 16px #333;
    }

    .book-front{
        width:150px;
        height:220px;
        box-shadow:0px 8px 16px #333;
    }
    .book-back{
        width:150px;
        height:220px;
        box-shadow:0px 8px 16px #777;
    }
    .holder1 ,.holder2,.holder3{
    display:flex;
    flex-direction:column;
    }
    .holder2{
        display:flex;
        flex-direction:column;
        margin:20px;
        padding:20px;
    }
    pre{
        font-size:15px;
        color:#000;
    }
    .info{

        background:transparent;
    }
    .holder3{
        display:flex;
        flex-direction:column;
        margin:20px;
        padding:20px;
        width:100%;
    }
}