@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:'Poppins',Tahoma,Geneva,Verdana,sans-serif;
    background:#fff;
    color:#000;
    font-size:15px;
    line-height:1.5;
}

l-heading{
    font-size:3rem;
}
a{
   color:#262626;
   text-decoration:none;
}
ul{
    list-style:none;
    margin:10px;
}
b{
    color:#191970;
    font-weight:bold;
}
.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}
/*------------------------- Navigation------------------------------- */
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    width:180px;
    height:80px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:hsl(0 0% 40%/0.5);
    backdrop-filter: blur(4rem);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 200px;
  }
  
  .sidenav a {
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #191970;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    span{
    font-size:30px;
    cursor:pointer;
  }
  /*--------------------------------------------------------------*/
 .btn{
    cursor:pointer;
    display:inline-block;
    border:0;
    font-weight:bold;
    padding:10px 20px;
    background:#191970;
    color:#fff;
    font-size:15px;
    border-radius: 4px;
    box-shadow:2px 2px 2px 2px #777;
}
 .btn:hover{
    opacity:0.8;
    background:purple;
    box-shadow:4px 4px 4px 4px #777;
}


.show{
    background-color:hsl(0 0% 40%/0.5);
    backdrop-filter: blur(4rem);
    font-size:20px;
    font-weight:400;
    color:white;
    padding:10px;
    border-radius:20px;
}

.showcase {
    width:100%;
    height:500px;
    background:url(img/loopy.png) no-repeat center center/cover;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: flex-end;
    text-align:center;
    padding-bottom:50px;
    margin:20px 0 20px;
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    font-size:15px; 
    transition:background 2s ease-in-out;  
}
.showcase:hover {
    background-size:110%;
}
.showcase h2 {
    margin-bottom:10px;
    margin-right:20px;
}
.showcase .btn {
    margin-top:20px;
    margin-right:20px;
}
.headings{
    display:flex;
    align-items:center;
    justify-content:center ;
    margin:50px 0 50px 0;
    font-size:18px;
    color:#191970;
    text-transform: uppercase;
}
/*-------------------------------------Workshops------------------------------------------*/
.work{
    background-color:#eee;
    opacity:0.8;
    font-size:40px;
    font-weight:bold;
    color:#191970;
    padding:10px;
}

.workshop {
    width:100%;
    height:500px;
    background:url(img/solaris.png) no-repeat center center/cover;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: flex-end;
    text-align:center;
    padding-bottom:50px;
    margin:50px 0 0 0px;
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    font-size:15px;
    transition:background 2s ease-in-out;  
}
.workshop:hover{
    background-size:110%;   
}
.workshop h2 {
    font-size:30px;  
    margin:10px 0  0 -80px; 
}
.work-section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:50px 0 0 0px;
    font-size:14px; 
    background:linear-gradient(2.8rad,transparent,#fff,#eee,#c7dcee);  
}
.work-section h3{
    margin-bottom:30px;
}
.work-section img{
    flex:1;
    padding:20px;
    width:100%;
    height:200px;
}
.work-section .upcoming{
    width:50%;
    height:50%;
}
.work-section> div{
    flex:2;
    padding:20px;
}
.work-section:nth-child(odd) img{
    order:1;
}
ol{
    padding:10px;
}
.past{
    color:#191970;
}
.past:hover{
    color:purple;
}
.upcoming{
    width:50%;
    height:40%;
}

/*--------------------------------------------------------------------------------*/
/*-----------------------------------Contact us---------------------------------------------*/
.contactus{
    background-color:white;
    opacity:0.8;
    font-size:30px;
    font-weight:400;
    color:#191970;
    padding:10px;
}
.contact{
    width:100%;
    height:200px;
    background:url(img/bird.png) no-repeat left center/cover;
    background-size:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
    text-align:center;
    padding-bottom:50px;
    margin:50px 0 0 20px;
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    font-size:15px; 
    transition:background 2s ease-in-out; 
}
.para{
    padding: 20px 20px 50px 50px;
}
b{
    color:purple;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #191970;
    font-family:'Poppins',sans-serif;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:2px 2px 2px 2px #777;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: purple;
    box-shadow:4px 4px 4px 4px #777;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
/*--------------------------------------------------------------------------------*/
/* Home-cards */

.home-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:10px;
    margin-bottom:100px;
    font-family:'Poppins',sans-serif;
    font-weight:300;   
}
.home-cards div{
    border:2px solid #eee;
    padding:20px;
    box-shadow:2px 2px 2px 2px #777;
}
.home-cards div:hover{
    box-shadow:4px 4px 4px 4px #777;
}

.home-cards img{
    width:100%;
    height:60%;
    margin-bottom:5px;
    border:2px solid #ccc;
    
}
.home-cards h3{
    font-family:'Poppins',sans-serif;
    font-size:14px;
    font-weight:bold;
    margin-bottom:5px;
}
.home-cards a{
    display:inline-block;
    padding-top:10px;
    color:#191970;
    text-transform: uppercase;
    font-weight:300;
    font-size:13px;
    font-weight:bold;
    margin-top:0;
}
.home-cards a:hover i{
    margin-left:10px;
    color:purple;
    font-size:14px;
}
aside{
    margin-top:50px;
    padding:20px 10px 10px 10px;
}
.list{
    font-size:14px;
    color:#FFF;
}
.link{
    border-bottom:none;
}
.link:hover{
    border-bottom:1px solid #fff;
}
.card-box{
    border:2px solid #eee;
    padding:10px;
    height:85%;
    width:100%;
}
.card-box:hover{
    border:2px solid #ddd;
    box-shadow:5px 5px #eee;
}
/*Blogs*/
.blog{
    height:350px;
    width:100%;
    background:url('img/blog3.png')no-repeat center center/cover;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-end;
    text-align:left;
    padding-bottom:20px;
    margin-bottom:40px;
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    font-size:12px; 
    color:#fff; 
}
.blog .content{
    width:40%;
    padding:50px 0 0 30px;
}
.blog p{
    margin:10px 0 10px;
    font-weight:400;
}
.blog .btn{
    font-size:12px; 
}

/* Videos*/
.video{
    height:350px;
    width:100%;
    background:url('img/ship.png')no-repeat center center/cover;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-end;
    text-align:left;
    padding-bottom:20px;
    margin-bottom:40px;
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    font-size:12px; 
    color:#fff; 
}
.video .content{
    width:40%;
    padding:50px 0 0 30px;
}
.video p{
    font-weight:400;
    margin:10px 0 10px;
}
.video .btn{
    font-size:12px; 
}
/* Footer*/
.footer{
   background: #DDD;
   color:#000;
   padding:35px 0;
   margin-top:50px;
}
.footer-inner{
    max-width:1100px;
    margin:0 auto;
    padding:0 20px 0 20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}
.footer-inner a{
    font-size:12px;
    margin-right:20px;
}
.fa-brands { 
    padding:0 20px;
    font-size:15px;
    color:#191970;
}
#tw:hover { 
    padding:0 20px;
    font-size:18px;
    color:rgb(27, 141, 216);
}
#yt:hover { 
    padding:0 20px;
    font-size:18px;
    color:red;
}
#md:hover { 
    padding:0 20px;
    font-size:18px;
    color:#222;
}

.footer .logo-small{
   width:180px;
   height:80px;
   justify-content:flex-start;
}
/*Inner pag grid container*/
#article{
    margin-top:50px;
}
.page-container{
    display:grid;
    grid-template-columns:5fr 2fr;
    margin:2rem 0;
    grid-gap:2rem;
}
.page-container > *:first-child{
    grid-row:1 / span 3;
}
#categories {
    background-color:#191970;
    color:#fff;
}
#categories a{
    background-color:#191970;
    color:#fff;
    margin-bottom:20px;
}
#categories h2{
    padding-left:10px;
}

.next{
    width:100%;
    height:200px;
}
#article .meta{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#eee;
    padding:0.5rem;
}
.artimg{
    width:100%;
    

}
.artimg2{
    width:80%;
    

}
.artimg3{
    width:800px;
    height:400px;

}
.artimg4{
    width:600px;
    height:500px;

 }


@media(max-width: 700px){
    .logo{
        padding-top:0;
        width:150px;
        height:60px;
    } 

    .btn{
        font-size:12px;
    }
    .show{
        background-color:transparent;
        font-size:16px;
        font-weight:400;  
    }
    .headings{
        display:flex;
        align-items:center;
        justify-content:center ;
        margin:50px 0 50px 0;
        font-size:15px;
        color:#191970;
        text-transform: uppercase;
    }
    .home-cards{
        grid-template-columns:repeat(2,1fr);
    }
    .home-cards div{
        border:2px solid #eee;
        padding:10px;
        box-shadow:2px 2px 2px 2px #777;
    }
    .home-cards img{
        width:100%;
        height:60%;
        margin-bottom:20px;
        border:2px solid #333;
        
    }
    .home-cards h3{
        font-family:'Poppins',sans-serif;
        font-size:14px;
        font-weight:bold;
        margin-bottom:5px;
    }
    .home-cards a{
        display:inline-block;
        padding-top:10px;
        color:#191970;
        text-transform: uppercase;
        font-weight:300;
        font-size:13px;
        font-weight:bold;
        margin-top:5px;
    }
    .home-cards a:hover i{
        margin-left:10px;
    }
    .blog .content p{
        display:none;
    }
    .blog .content h2{
        margin-bottom:20px;
    }
    .blog .btn{
        font-size:10px;
        width:110px;
        margin-top:10px; 
    }
    .video .content p{
        display:none;
    }
    .video .btn{
        font-size:10px;
        width:110px; 
        margin-top:10px; 
    }
    .footer .logo-small{
        width:150px;
        height:50px;
        align-items:center;
        justify-content:flex-start;
     }

     .footer-inner{
        max-width:1100px;
        margin:0 auto;
        padding:0 20px 0 20px;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
    }
    .footer-inner a{
        font-size:12px;
        margin-right:10px;
    }
    .fa-brands { 
        padding:0 5px;
        font-size:12px;
        color:#191970;
    }
    #tw:hover { 
        padding:0 20px;
        font-size:15px;
        color:rgb(27, 141, 216);
    }
    #yt:hover { 
        padding:0 20px;
        font-size:15px;
        color:red;
    }
    #md:hover { 
        padding:0 20px;
        font-size:15px;
        color:#222;
    }
    
    .footer-inner a{
        font-size:10px;
        margin-right:5px;
    }
    .a-foot{
        padding-left:50px;
    }
    .page-container{
        display:grid;
        grid-template-columns:6fr;
        grid-template-rows: 4fr;
        margin:2rem 0;
        grid-gap:2rem;
    }
    .page-container > *:first-child{
        grid-row:1 / span 3;
    }
    
    
    .card{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: space-between;
        margin:50px 0 0 0px;
        
    }
    .upcoming{
        width:50%;
        height:50%;
    }
    .upcoming2{
        width:100%;
        height:150px;
    }
    .workshop h2 {
        font-size:18px;  
        margin:10px 0  0 -80px; 
    }
    .work-section{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-between;
        margin:50px 0 0 0px;
        background:linear-gradient(2.8rad,transparent,#fff,#eee,#c7dcee);  
    }
    .para{
        padding: 20px 20px 10px 0px;
        font-size:12px;
    }
    .contactus{
        font-size:14px;
    }
    b{
        color:purple;
        font-size:12px;
        margin:0px 20px 40px 0px;
    }
    ol{
        padding:30px;
        font-size:13px;
    }
    .past{
        color:#191970;
    }
    .past:hover{
        color:purple;
    }
    .workp{
        font-size:14px;
    }
    
}
@media(max-width:570px){
    .logo{
        padding-top:0;
        width:150px;
        height:60px;
    } 
    .show{
        background-color:transparent;
        font-size:15px;
        font-weight:400;  
    }
    .headings{
        display:flex;
        align-items:center;
        justify-content:center ;
        margin:50px 0 50px 0;
        font-size:15px;
        color:#191970;
        text-transform: uppercase;
    }
    .home-cards{
        grid-template-columns:repeat(2,1fr);
    }
    .home-cards div{
        border:2px solid #eee;
        padding:10px;
        height:250px;
        box-shadow:2px 2px 2px 2px #eee;
    }
    .home-cards img{
        width:100%;
        height:60%;
        margin-bottom:2px;
        border:2px solid #ccc;
        
    }
    .home-cards h3{
        font-family:'Poppins',sans-serif;
        font-size:11px;
        font-weight:bold;
        margin-bottom:0px;
    }
    .home-cards a{
        display:inline-block;
        padding-top:5px;
        color:#191970;
        text-transform: uppercase;
        font-weight:300;
        font-size:10px;
        font-weight:bold;
        margin-top:0px;
    }
    .home-cards a:hover i{
        margin-left:10px;
    }
    .footer{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        text-align:center;
    }
    .footer .logo-small{
        width:110px;
        height:35px;
        margin:5px 0 0 0;
        
     }
    .footer-inner a{
        font-size:12px;
        margin-right:5px;
    }
    .fa-brands { 
        padding:0;
        font-size:10px;
        color:#191970;
    }#tw:hover { 
        padding:0 20px;
        font-size:12px;
        color:rgb(27, 141, 216);
    }
    #yt:hover { 
        padding:0 20px;
        font-size:12px;
        color:red;
    }
    #md:hover { 
        padding:0 20px;
        font-size:12px;
        color:#222;
    }
    
    .footer-inner a{
        font-size:10px;
        margin-left:0px;
    }
    .a-foot{
        padding-left:15px;
    }
    .work-section{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: space-between;
        margin:50px 0 0 0px;
        background:linear-gradient(2.8rad,transparent,#fff,#eee,#c7dcee);  
    }
    .workshop h2 {
        font-size:18px;  
        margin:10px 0  0 -80px; 
    }
    .card .upcoming{
        width:50%;
        height:50%;
    }
    .para{
        padding: 20px 20px 10px 0px;
        font-size:12px;
    }
    .contactus{
        font-size:12px;
    }
    b{
        color:purple;
        font-size:10px;
        margin:0px 20px 40px 0px;
    }
    
    ol{
        padding:30px;
        font-size:11px;
    }
    .workp{
        font-size:12px;
    }
    
}
