@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@700&family=Poppins:wght@300&display=swap');
*{
    box-sizing:border-box;
    margin:auto;
    padding:auto;
}
body{

    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: auto;
    width:100vw;
    height:100vh;
    line-height:2em;
    overflow-x:hidden;
}
/*------Reused Code-----------*/
.btn{
    padding:5px;
    color:#fff;
    border:2px solid #fff;
    margin-top:50px;
    text-decoration:none;
    font-size:13px;
}
h1{
    margin:0px;
    padding:5px 5px 5px 10px;
    text-transform:uppercase;
    font-size:30px;
    line-height:1.5em;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
}
h3{
   font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
}
.headings{
    background:#0D5C63;
    color:#fff;
    width:100%;
    margin:0px;
    padding:20px;
}
p{
    font-family: 'Poppins', sans-serif;    
}
a{
    font-family: 'Noto Sans', sans-serif;
}


/*-----------Navigation----------------*/
/*--big screen navigation code--*/
#main-nav{
    display:flex;       /*-Flex is used in Navigation bar-*/
    flex-wrap:wrap;
    justify-content:center;
    background:transparent;
    padding:5px;
    margin:20px 0px 0px 0px ;
    
}
#main-nav li{
    list-style:none;
    display:inline;        /*-Unorder list is displayed inline-*/
    padding:5px;
    color:#4682B4;
    margin:0px ;

}
#main-nav a{
   text-decoration:none;
   color:#4682B4;
   font-family: 'Poppins', sans-serif;
   font-size:14px;
}
#main-nav li a:hover{
  color:teal;
  padding-bottom:5px;
  border-bottom:2px solid teal;
}
/*--currentpage in navigation--*/
.currentpg{                             /* display the location in the website */
    margin:0px 5px 10px 2px;
    padding:5px;
    border:2px solid #AA8F66;
    border-radius:15px;
    box-shadow:2px 8px 16px #ddd;
}

/*-------------------------------*/

/*--Logo code--*/
.logo {                         /*-Flex is used in Logo-*/
  display:flex;
  flex-direction:row;
  border-bottom:2px solid #90708C;
}
.logo .first{
    flex:1;
    align-items:flex-start;               /*-Logo is aligned in the start-*/
    font-size:35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    color:#0D5C63;
    margin:50px;
    animation:logo 1s ease-in ;  /*-Animation ease-in is used in the logo-*/
}
.logo .mid{
    flex:1;
    color:#AA8F66;
    font-size:35px;
    margin:0px 0px 0px 2px;
    animation:logo 1s ease-in ;
}
.logo .second{
    flex:1;
    font-size:35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    color:#4682B4;
    text-transform:UPPERCASE;
    animation:logo 1s ease-in ;
}
.logo p{
    flex:2;
    align-self:flex-start;
    justify-content:center;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    margin:10px 20px 20px 0px;
}
@keyframes logo{            /*--@keyframes is used to make the logo gradually become bigger-*/
    0%{
       font-size:0px;
    }
    100%{
     font-size:40px;
    }
}
/*----------------------------Home Page Sections---------------------------------------*/

/*--section0- Banner--*/ 
#section0{
    display:flex;                      /*-Flex is used in Banner -*/
    justify-content:center;
}
#section0{
    display:flex;
    justify-content:center;
    align-items:center;                    
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.banner{
    position:absolute;            /*--Position of the Banner is set to be absolute-*/
    top:750px;
    left:30%;
    z-index:1;  
}
.banner h2{
    position:relative;        /*--Position of the h2 is set to be relative with z-index 0f 2-*/
    z-index:2;
    padding:0px;
    margin:0px 0px 0px 10px;
    font-size:30px;
    font-family:'Montserrat', sans-serif;
    color:#AA8F66;  
}

/*--To change the content of the <span> , pseudo element
 ::before is used as the first word need to change using animation--*/

.words::before{                  
    content:'';
    border-top:5px solid #AA8F66;
    color:#fff;
    padding:10px 5px 10px 10px;
    margin:20px 2px 50px 2px;
    font-weight:bold;
    font-size:35px;
    animation:banner 5s ease-in infinite ;
    
}
@keyframes banner{
    0%{
        content:'CREATE';        /* content of ::before is changed in animation */
        font-family: 'Poppins', sans-serif;
    }
     50%{
        content:'DESIGN';
        font-family: 'Montserrat', sans-serif;
        border-radius:20%;
    }
    100%{
        content:'ANIMATE';
        font-family: 'Noto Sans', sans-serif;
        border-radius:100%;
    }
}
  /*--Balloon image position is relative to the text on the banner and 
    z-index is set 1,so it appear behind while floating upwards---*/
.animation{                      
   width:100%;
   height:700px;
   position:relative;
   z-index: 1;
   margin-top:20px;
}

.float1{               /*- Start position of the balloon floating animation is set-*/
    position:relative;
    top:10%;
    left:1%;
    bottom:20%;
    width:300px;
    height:400px;
    animation:balloon 5s linear ;
}

@keyframes balloon{          /*--Balloon is translated in the Y-axis upwards-*/
    0%{
        transform:translateY(300px);
    }
    50%{
        transform:translateY(100px);
    }
    100%{
        transform:translateY(0px);
    }
}
/*-------------------------------*/
/*--Section1--*/
#section1{
    background:#fff;
    margin-top:50px;
    box-shadow:0px 8px 16px #333;
}
#section1 .main-heading{
    background:#0D5C63;
    color:#fff;
    padding:20px;
}
#section1 .main-article{
    display:flex;            /*-Flex is used in section1 */
    flex-direction:row;      /*--within section1, content are appearing in rows-*/
    flex-wrap:wrap;      /*- Flex-wrap keeps all the content adjust according to space -*/
    justify-content:space-between;
    margin:5px;
    padding:50px;   
}
.main-image{
    flex:1;
    margin:20px 20px 20px 50px;
}
.main-image img{
    align-content:center;
    margin-bottom:10px;
    width:280px;
    height:180px;
}
.main-para{
    flex:1;
}
/* Within section1, heading,paragragh & button link have flex-direction of column */
.main-para h2 p a{
    display:flex;             
    flex-direction:column;
    margin:10px ;
}
.main-para h2{
   padding:10px;
   font-size:18px;
}
.main-para p{
     font-size:18px;
     margin:10px 10px 25px 10px;
     padding:5px;
}
.main-para a {
    text-decoration:none;
    margin:10px;
    background: #4682B4;
    padding:8px;
    font-size:12px;
    color:white;
}
.main-para a:hover{            /*--Button on hover change color--*/
    background: #AA8F66;
    border:2px inset #AA8F66; 
}
a .btn{
    margin:20px;
    padding:5px;  
}
/*-------------------------------*/

/*--Section2 video tutorials--*/
    #section2{
        background:#fff;
        margin-top:50px;
        padding:5px;
        color:#333; 
    }
    #section2 .heading{
        background:#90708C;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    #section2 .article2{   /*-Section2 has flex-direction set row -*/
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;  
    }
    .para-two{
        flex-direction:row;
        flex:1;
        order:1;     /* Using order property of flex rows and columns can be switch places */
    }
    .image-two{
        flex:1;
        order:2;
    }
    .image-two iframe{
        align-self:flex-end;
        margin:15px 15px 15px 20px;
        width:250px;
        height:160px;
    }
    /* Within section2, heading,paragragh & button link have flex-direction of column */
    .para-two h3{
        flex-direction:column; 
        flex-wrap:wrap;
        font-size:18px;
        padding:0px;
    }
    .para-two p{
        flex-direction:column;
        font-size:18px;
        padding:5px;
        margin:10px;
    }
    .para-two a{
        flex-direction:column;
        font-size:11px;
        text-decoration:none;
        margin:0px ;
        background: #4682B4;
        padding:8px;
        color:white;
    }
    .para-two a:hover{               /*--Button on hover change color--*/
        background: #AA8F66;
        border:2px inset #AA8F66; 
    }
    a .btn{
        margin:20px ;
        padding:5px;
    }
/*-------------------------------*/

/*--Section3 Books--*/
#section3{
    background:#fff;
    margin-top:50px;
    padding:5px;
    color:#333;
    box-shadow:0px 4px 8px #ccc;
}
#section3 .heading{
    background:#AA8F66;
    color:#fff;
    padding:5px;
    margin:0px;
    width:100%;
    text-align:center;
}
#section3 .article2{
    display:flex;
    flex-direction:row;  /*-Section3 has flex-direction set row -*/
    flex-wrap:wrap;
    margin:15px;
    padding:20px;

}
.para-three{
    flex:1;
    order:2;      /* Here the order is switched in comparison to the prevoius section */
}
.image-three{
    flex:1;
    order:1;
}
.image-three img{
    margin:50px;
    width:200px;
    height:300px;
    box-shadow:0px 4px 8px #555;
}
/* Within section3, heading,paragragh & button link have flex-direction of column */

.para-three h3{
    flex-direction:column;
    font-size:18px;
    padding:0px;
}
.para-three p{
    flex-direction:column;
    font-size:18px;
    padding:5px;
}
.para-three a{
    flex-direction:column;
    font-size:12px;
    text-decoration:none;
    margin:5px ;
    background: #4682B4;
    padding:10px;
    color:white;
}
.para-three a:hover{               /*--Button on hover change color--*/
    background: #AA8F66;
    border:2px inset #AA8F66; 
}

a .btn{
    margin:50px ;
    padding:5px;
}

/*-------------------------------*/
/*--Section4 More articles-- this section have Javascript for resizing the images-*/
#section4{
    display:flex;
    flex-direction:row;    /* Section 4 is set to have flex-direction row */
    flex-wrap:wrap;
    justify-content:center;
    color:#333;
    margin:50px  
}
#section4 .small1{
   flex:1;
   order:1;                  /*order is 1 for the first image*/
   align-content:center;
   flex-wrap:wrap;
}
.small1 img{
    width:300px;
    height:auto;
    margin:20px;
}
.small1 p{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    padding:25px;
    margin-left:2px
    
}
.small1 a{
    text-decoration:none;
    color:#333;
}
.archives{
    background:#4682B4;
    color:white;
}
#section4 .small2{
   flex:1;
   order:2;              /*order is 2 for the second image*/
}
.small2 img{
    width:300px;
    height:auto;
    margin:20px;
}
.small2 p{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    padding:25px;
    
}
.small2 a{
    text-decoration:none;
    color:#333;
}

#section4 .small3{
   flex:1;
   order:3;                  /*order is 3 for the third image*/
   align-content:center;
}
.small3 img{
    width:300px;
    height:auto;
    margin:20px;
}
.small3 p{
   font-family: 'Poppins', sans-serif;
   font-size:18px;
   padding:25px;
   
}
.small3 a{
    text-decoration:none;
    color:#333;
}
/*------------------------Home Page Code Ends------------------------------*/

/*------------------------Footer-------------------------------*/
    footer{
        display:flex;
        flex-direction:column;   /*In Footer flex is used and direction is set column */
        flex-wrap:wrap;
        background:linear-gradient(180deg, rgba(0, 128, 128, 0) 0%, rgba(70, 130, 180, 0.88) 100%);
        text-align:center;
        padding:5px;
        width:100%;
        border-top:2px solid #AA8F66;
        margin:0px;
    }
    .logo-small {
        display:flex;
        flex-direction:row; /* For logo to appear inline direction is set row */
        flex-wrap:wrap;
    }
    .logo-small  .first{
        flex:1;
        align-items:center;
        font-size:20px;
        font-family: 'Noto Sans', sans-serif;
        font-weight:bold;
        color:#0D5C63;
        margin:20px;
        animation:logo 1s ease-in ;  /* Animation is used in the logo of the footer */
    }
    .logo-small  .mid{
        flex:1;
        color:#AA8F66;
        font-size:20px;
        margin:0px;
        animation:logo 1s ease-in ;
    }
    .logo-small  i{
        flex:1;
        color:#AA8F66;
        font-size:21px;
        margin:0px;
        animation:logo 1s ease-in ;
    }
    .logo-small  .second{
        flex:1;
        font-size:20px;
        font-family: 'Noto Sans', sans-serif;
        font-weight:bold;
        color:#4682B4;
        text-transform:UPPERCASE;
        animation:logo 1s ease-in ;
    }
    /*-animation logo-small*/
    @keyframes logo{
        0%{                     /*In animation font-size changing gradually*/
        font-size:0px;
        }
        100%{
        font-size:25px;
        }
    }
    footer i{
        font-size:22px;
        padding:5px;
        color:#0D5C63;
    }
    footer p{
        font-size:10px;
        color:#fff;
    }
/*------------------------Footer Code Ends-------------------------------*/

/*--------------------- Articles Page-------------------------------------*/
.container-3d{
    display:flex;
    flex-direction:row;         /*Flex is used and direction is set as row */
    flex-wrap:wrap;
    justify-content:space-around;
    margin:10px;
    padding:10px;
    border-top:2px solid #333;
  }
  .cover{
     background:#AA8F66;              /* Cover feature heading code */
     padding:15px;
     color:white;
     width:200px;
     margin:0px 0px 40px 0px;
     border:2px solid #90708C; 
  }
  .main{                       /*Paragraph margin and padding */
      padding:20px;
      margin-right:10px;
  }
  .author{                    /* Image of the author */
      width:60px;
      height:65px;
      padding:5px;
      margin:5px 5px 0px 0px;
      background:#90708C;
      border-radius:50%;
  }
  .light{                    /* lightbulb icon in content2 */
      font-size:30px;
      color:#fff;
  }
  .light:hover{             /* lightbulb icon in content2 on hover change colour*/
      font-size:40px;
      color:gold;
  }
  small{                      /*Information about author and date of article published  */      
      padding:10px;
      background:#4682B4;
      color:#fff;
  
  }
  .main-audio{                /*Audio synchronized to the text of content1 */
    outline:none;
    margin:0px 0px 20px 0px;
    background:#eee;
    border:2px solid#4682B4;
    width:250px;
}
 audio{                       /* Audio synchronized to the text of content2 */
      outline:none;
      margin:20px 0px 0px 0px;
      background:#eee;
      border:2px solid#4682B4;
      width:220px;
  }
  time{                         /*date and time information */
      padding-left:10px;
  }
  article {                     
      flex:4;
      justify-content:space-between;
  }
  .image-planet {             /*image at the start of article 3*/
     width:300px;
     height:300px;  
  }
  .image-3d {                /*image at the start of article 2*/
     width:300px;
     height:300px;  
  }
  .image-3d:hover {
      animation:balloons 2s linear; /* animation of image in article 2 on hover */
  }
  @keyframes balloons{
      0%{                               /* translation of balloon upwards on hover */
          transform:translateY(60px);
      }
      100%{
          transform:translateY(0px);
      }
  }
  .content1{
      flex:8;                /* content1 occupy 8 rows as it contains main articles */
  }
  .content1  h1{
      margin:20px;
      padding:20px;
      text-transform:uppercase; /* text is transformed from lowercase to uppercase letters*/
      font-size:30px;
  }
  .content1 p{
      margin:10px;
      line-height:30px;
  }
  .content1 p::first-letter{  /* pseudo-element ::first for making the first letter larger */
      color:#333;
      font-size:30px;
  }
  .content1 p::selection{ /* pseudo-element ::selection for specifically highlighting the text in the paragraph of main article */
      color:#fff;
      background:#0D5C63;
  }
  .code{                   /* image related to the main articles */
      width:300px;
      height:250px;
      padding:10px;  
  }
  .code1{                    /* image of code snippet article1 */
      width:350px;
      height:500px;
  }
  .code2{                     /* image of code snippet article2 */
      width:330px;
      height:400px;
      padding:10px; 
  }
  .code3{                    /* image of code snippet article3 */
      width:330px;
      height:400px;
      padding:10px; 
  }
  figcaption{                 /* caption under the code snippets */
      padding-left:30px;
  }
  .concept{                   /*images inside content2*/
      display:flex;
      flex-wrap:wrap;
      align-self:flex-start;    /*aligning the content to the start*/
      width:220px;
      height:200px;
      
  }
  .content2{                 /* content2 contains basic concepts*/
      width:400px;
      height:auto;
      font-size:10px;
  }
  
  .para1 {
      margin:10px 10px 5px 5px;
      padding:0px;
      background:#AA8F66;
      color:white;
      font-size:18px;
  }
  .para2 {
    margin:0px 10px 10px 5px;
    padding:25px;
    background:#AA8F66;
    color:white;
    font-size:16px;
    
  }
  .content2  h3{
      padding:50px;
  }
/*---------------------Articles Page Code Ends--------------------*/

/*----------------Videos Page--------------------------------*/
.resource{
    display:flex;                  /* SVG image */
    flex-wrap:wrap;
    justify-content:center;
    align-self:center;
    width:100%;
    height:300px;
    margin:20px;  
    
}
.container-1{
    display:flex;                  /* flex is used and directionof main container is row*/
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#90708C;
    color:#fff;
}
.box-1{                          /* box-1 contains image as its content */
    flex:1;
    order:1;
    padding:5px;
    margin:70px 30px 30px 50px;
}
.box-1 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-2{                         /* box-2 contains heading ,paragraph and button and their direction is column */
    flex:1;
    order:2;
    flex-direction:column;
    padding:20px ;
    margin:20px;
}
.box-2 p{ 
    font-size:15px;
    margin:5px;
    padding:5px;
}
.box-2 h3{
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-2{
    display:flex;
    flex-direction:row;       /* flex is used and direction of main container is row*/
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#AA8F66;
    color:#fff;
}
.box-3{
    flex:1; 
    order:1;                       /* box-3 contains image as its content */
    padding:5px;
    margin:60px 30px 30px 50px;
}
.box-3 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}

.box-4{                     /* box-4 contains heading ,paragraph and button and their direction is column */
    flex:1;
    order:2; 
    flex-direction:column;
    padding:20px;
}
.box-4 p{
    font-size:15px;
    margin:5px;
    padding:5px;
}
.box-4 h3{
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-3{
    display:flex;
    flex-direction:row;       /* flex is used and directionof main container is row*/
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#4682B4;
    color:#fff;
}
.box-5{                        /* box-5 contains image as its content */
    flex:1;
    order:1;
    padding:5px;
    margin:50px 30px 30px 50px;
     
}
.box-5 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-6{                    /* box-6 contains heading ,paragraph and button and their direction is column */
    flex:1;
    order:2;
    flex-direction:column;
}
.box-6 p{ 
    font-size:15px;
    margin:5px;
    padding:5px;
}
.box-6 h3{
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-4{
    display:flex;
    flex-direction:row;      /* flex is used and directionof main container is row*/
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#90708C;
    color:#fff;  
}
.box-7{                         /* box-7 contains image as its content */
    flex:1;
    order:1;
    padding:5px;
    margin:80px 30px 30px 50px;  
}
.box-7 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-8{
    flex:1;               /* box-8 contains heading ,paragraph and button and their direction is column */
    order:2;
    flex-direction:column;
}
.box-8 p{
    padding:15px;
    margin:30px;
}
.box-8 h3{
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-5{
    display:flex;
    flex-direction:row;     /* flex is used and directionof main container is row*/
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#AA8F66;
    color:#fff;
}
.box-9{
    flex:1; 
    order:1;                            /* box-9 contains image as its content */
    padding:5px;
    margin:50px 30px 30px 50px;
   
}
.box-9 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-10{                          /* box-10 contains heading ,paragraph and button and their direction is column */
    flex:1;
    order:2;
    flex-direction:column;
}
.box-10 p{
    padding:15px;
    margin:30px;
}
.box-10 h3{ 
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-6{
    display:flex;
    flex-direction:row;  /*all videos are usings flex and their direction is row */
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;

}
 
.video-1{
    display:flex;           
    width:250px;
    height:200px;
    margin:60px 60px 60px 30px;
      
}

.video-2{
    display:flex;
    width:250px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-3 {
    display:flex;
    width:250px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-4 {
    display:flex;
    width:250px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-5 {
    display:flex;
    width:250px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-6 {
    display:flex;
    width:250px;
    height:200px;
    margin:60px 60px 60px 30px;
}
/*------------------------Videos Page Code Ends--------------------------*/

/*----------Books Page---------------*/
.resource{                              /*SVG image */
    display:flex;
    flex-wrap:wrap;
    align-self:center;
    width:100%;
    height:200px;
    padding:20px;
    margin:50px 0px 80px 0px;
}

.container-books1{
    display:flex;                         /*Flex is used with direction of row */
    flex-direction:row;
    flex-wrap:wrap;
    margin:0px;
    padding:20px 0px 0px 10px;
    width:100%;
    box-shadow:2px 4px 6px #ddd;
}
.new{                                      /* Heading for new relaesed books*/
    align-self:flex-start;
    margin:5px;
    padding:10px;
    background:#4682B4;
    color:#fff;
    text-align:center;
    font-size:15px;
    font-family: 'Noto Sans', sans-serif;
    border:2px inset #AA8F66;
    border-radius:20px;
}
.old{                                  /* Heading for recommended books*/
    align-self:flex-start;
    margin:5px;
    padding:10px;
    background:#AA8F66;
    color:#fff;
    text-align:center;
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    border:2px inset #0D5C63;
    border-radius:20px;
}
.book-front{                            /* Images of front and back of the book*/
    width:180px;
    height:260px;
    box-shadow:18px 8px 26px 12px #ddd;
}
.book-back{
    width:180px;
    height:265px;
    box-shadow:18px 8px 16px  #ddd;
}
.holder1 ,.holder2 ,.holder3{       /*holders1 is for image ,holder2 is for information and holder3 for review of the book*/
    display:flex;
    flex-direction:row;             /* flex-direction set to row */   
}
.holder2{
    display:flex;
    flex-direction:column;       /*contents of holder2 contains information in the column form*/ 
    margin:20px;
    padding:20px;
    
}
.holder3{
    display:flex;                /*contents of holder3 also contains information in the column form*/ 
    flex-direction:column;
    margin:10px;
    padding:20px;
    width:300px;
}
pre small{                    
    color:black;
    font-size:15px;
    margin:10px
    
}
.info{
    background:transparent;
}
.book-intro{
    flex-direction:column;
    margin:5px;
    padding:5px;
    font-size:15px;
}
/*-------------------------------*/

/*--------------Get In Touch Section------------------------*/
main-intouch{               
    overflow-x:hidden;
    margin:0;
}
.mail{                        /*SVG image*/
    display:flex;             
    flex-wrap:wrap;
    justify-content:flex-start;
    align-self:center;            /*SVG image aligned center */
    width:100%;
    height:300px;
    margin:20px;  
}

.in-touch1{
    display:flex;                /* Flex is used with the direction of column and the content aligned center*/
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top:50px;
    padding:50px;
    height:300px;

    /*clip-path is creating a region over the div and masking the rest of the div ,in polygon
     it takes the values from top left(x,y), top right(x,y),bottom right(x,y) and then bottom left(x,y) */

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 

    background:#AA8F66;
    color:#fff;
    font-size:17px;
    box-shadow:0px 4px 8px #ccc;
    animation:sign ease-in 1s;      /* animation is added to the text*/ 
}

.in-touch2{
    display:flex;               /* Flex is used with the direction of column and the content aligned center*/
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:10px 0px 10px 0px;
    padding:80px;
    height:300px;
    /*clip-path is creating a region over the div and masking the rest of the div ,
     it takes the values from top left(x,y), top right(x,y),bottom right(x,y) and then bottom left(x,y) */

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); 

    background:#90708C;
    color:#fff;
    font-size:17px;
    box-shadow:10px 4px 6px #ccc;
    animation:sign ease-in 1s;           /* animation is added to the text*/ 
}

@keyframes sign{
    0%{                             /*Fonts gradually change size as they ease-in*/
        font-size:0px;  
    }
    100%{
        font-size:15px; 
    }
}
.contact{                          /* e-mail contact information */
    display:flex;                 /* Flex is used with the direction of column and the content aligned center*/
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    padding:5px;
    background:#0D5C63;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    background-image:url("images/contact.svg"); /* SVG image inserted as the background image */
    background-size:250px;
    background-repeat:no-repeat;         /* no-repeat stops the image from repeating multiple times*/
    background-position:center;          /*position is set center*/
    max-width:100%;
    height:400px;
    box-shadow:0px 4px 8px #ccc;
}
.sign-up{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    margin:50px;
    padding:10px;
    background-image:url("images/signup.svg"); /* SVG image inserted as the background image */
    background-repeat:no-repeat;     /* no-repeat stops the image from repeating multiple times*/
    background-position:top right;   /*position is set top and right*/
    background-size:500px;
    
}

.subscribe{                 /*Sign up form is using flex and its direction is set row and aligned at the start*/
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    background:#AA8F66;
    opacity:0.8;                 /* Opacity is set to 0.8 so the image behind can be seen vaguely through it */
    margin:20px;
    padding:20px;
    border:2px solid #4682B4;
    line-height:2em;                   /*line-height is set for spacing between the lines*/
    color:#fff;
    width:400px;
    font-size:20px;
    box-shadow:0px 4px 6px #333;     /* box-shadow to highlight the signup box*/
}
.subscribe label{
    display:inline;
    padding:10px 10px 0px 10px;
    margin:15px;
    font-family:'Poppins', sans-serif;
    font-size:18px;
    font-weight:bold;
    text-shadow:0px 4px 6px #333;  /* text-shadow to highlight the text */
}
.icon{
    color:#fff;
    letter-spacing:6px;       /* letter spacing is used to space out letters*/
    text-shadow:0px 4px 6px #333;
}
.subscribe input{
    width:100%;
    padding:10px;

}
.button{                   /* Submit button*/
    margin-top:20px;
    color:#fff;
    font-size:20px;
    text-shadow:0px 4px 6px #333;
    padding:10px;
    width:100%;
    background:#4682B4;
    box-shadow:0px 4px 6px #333;
}
.button:hover{               /* Submit button changes color on hover*/
    margin-top:20px;
    color:#fff;
    font-size:20px;
    padding:10px;
    width:100%;
    background:#0D5C63;
}
/*--------------------Get In Touch Page Code Ends-----------------------*/