@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@700&family=Poppins:wght@300&display=swap');
*{
    box-sizing:border-box;
    margin:auto;
    padding:auto;


}
body{

    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: auto;
    width:100vw;
    height:100vh;
    line-height:2em;
    overflow-x:hidden;
}

.btn{
    padding:10px;
    color:teal;
    border:2px solid #4682B4;
    margin-top:50px;
}
h1{
    margin:0px;
    padding:5px 5px 5px 10px;
    text-transform:uppercase;
    font-size:30px;
    line-height:1.5em;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
}
h3{
   font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
}
.headings{
    background:#0D5C63;
    color:#fff;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{
    font-family: 'Noto Sans', sans-serif;
}
nav{
    display:flex;
    flex-wrap:wrap;
    background:transparent;
    padding:5px;

}
nav li{
    list-style:none;
    display:inline;
    padding:5px;
    color:#4682B4;
    margin:0px;

}
nav a{
   text-decoration:none;
   color:#4682B4;
   font-family: 'Poppins', sans-serif;

}
nav li a:hover{
  color:teal;
  padding-bottom:5px;
  border-bottom:2px solid teal;

}
.logo{
  display:flex;
  align-content:center;
  margin-top:50px;
}
.logo img{
    width:250px;
    height:150px;
}
#section0{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.banner{
    width:100%;
    height:700px;
    position:absolute;
    bottom:-200px;
    left:-50px;
    margin:20px;
    
}
.banner h1{
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
    font-size:60px;
    font-weight:bold;
    text-shadow:0px 2px 4px #eee;
    color:#fff;
    animation:banner 1s ease-in ; 
} 
@keyframes banner{
    0%{
       font-size:0px;
      
    }
    100%{
     font-size:50px;
    }
}
.animation{
   width:100%;
   height:700px;
   position:relative;
   margin-top:20px;
   
}
.square{
    position:absolute;
    top:30%;
    left:45%;
    width:20px;
    height:20px;
    border-radius:5%;
    box-shadow:0px 2px 18px #777;
    transform:rotateZ(230deg) ;
    animation:size 2s linear infinite;
}

.square:nth-child(1){
    padding:80px;
    border:8px solid #eee;
    margin:5px;
    animation-delay:1s;
}
.square:nth-child(2){
    padding:60px;
    border:8px solid #FFFF00;
    animation-delay:3s;
    
}
.square:nth-child(3){
    padding:40px;
    border:8px solid turquoise;
    animation-delay:5s;
}
.square:nth-child(4){
    padding:20px;
    border:8px solid #B0E0E6;
    animation-delay:7s;
}
.square:nth-child(5){
    padding:5px;
    border:8px solid #DB7093;
    animation-delay:1s;
}

@keyframes size{
    0%{
        width:0px;
        height:0px;
        transform:rotateZ(180deg);
    }
    50%{
        width:50px;
        height:50px;
        transform:rotateZ(360deg);
    }
    
    100%{
        width:0px;
        height:0px;
        transform:rotateZ(180deg);
        
    }
    
}
#section1{
    background:#eee;
    margin-top:50px;
    box-shadow:0px 8px 16px #333;
}
#section1 .main-heading{
    background:#0D5C63;
    color:#fff;
    padding:20px;
}
#section1 .main-article{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:5px;
    padding:50px;
    
}
.main-image{
    flex:1;
    margin:20px 20px 20px 80px;
}
.main-image img{
    align-content:center;
    margin-bottom:10px;
    width:500px;
    height:400px;
}
.main-para{
    flex:1;
}
.main-para h2 p a{
    display:flex;
    flex-direction:column;
    margin:20px ;
}
.main-para h2{
   padding:15px;

}
.main-para p{
     font-size:18px;
     margin:10px ;
     padding:5px;
    font-family: 'Poppins', sans-serif;
}
.main-para a {
    text-decoration:none;
    margin:20px ;
}

a .btn{
    margin:50px ;
    padding:5px;
}

#section2{
    background:#eee;
    margin-top:50px;
    padding:5px;
    color:#333;
}
#section2 .heading{
    background:#90708C;
    color:#fff;
    padding:5px;
    margin:0px;
    width:100%;
    text-align:center;


}
#section2 .article2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:15px;
    padding:20px;

}
.para-two{
    flex:1;
    order:1;
}
.image-two{
    flex:1;
     order:2;
}
.image-two iframe{
    margin:50px;
    width:400px;
    height:300px;

}
.para-two h3{
    flex-direction:column;
    font-size:20px;
    padding:0px;

}
.para-two p{
    flex-direction:column;
    font-size:15px;
    padding:8px;
}
.para-two a{
    flex-direction:column;
    font-size:15px;
    padding:8px;
    text-decoration:none;
}

a .btn{
    margin:50px ;
    padding:5px;
}

#section3{
    background:#eee;
    margin-top:50px;
    padding:5px;
    color:#333;
    box-shadow:0px 4px 8px #ccc;
}
#section3 .heading{
    background:#AA8F66;
    color:#fff;
    padding:5px;
    margin:0px;
    width:100%;
    text-align:center;


}
#section3 .article2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:15px;
    padding:20px;

}
.para-three{
    flex:1;
    order:1;
}
.image-three{
    flex:1;
     order:2;
}
.image-three img{
    margin:50px;
    width:300px;
    height:400px;
    box-shadow:0px 4px 8px #555;

}
.para-three h3{
    flex-direction:column;
    font-size:20px;
    padding:0px;

}
.para-three p{
    flex-direction:column;
    font-size:18px;
    padding:5px;
}
.para-three a{
    flex-direction:column;
    font-size:15px;
    padding:8px;
    text-decoration:none;
}

a .btn{
    margin:50px ;
    padding:5px;
}
#section4{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:#333;
    margin:50px;
    
}
#section4 .small1{
   flex:1;
   align-content:center;

}
.small1 img{
    width:300px;
    height:200px;
    margin:20px;
}
.small1 p{
    font-size:15px;
    padding:25px;
    margin-left:2px
    
}
.small1 a{
    text-decoration:none;
    color:#333;
}
.archives{
    background:#4682B4;
    color:white;
}
#section4 .small2{
   flex:1;
}
.small2 img{
    width:300px;
    height:200px;
    margin:20px;
}
.small2 p{
    font-size:15px;
    padding:25px;
    
}
.small2 a{
    text-decoration:none;
    color:#333;
}

#section4 .small3{
   flex:1;
   align-content:center;
}
.small3 img{
    width:300px;
    height:200px;
    margin:20px;
}
.small3 p{
   font-size:15px;
   padding:25px;
   
}
.small3 a{
    text-decoration:none;
    color:#333;
}

footer{
    background:linear-gradient(180deg, rgba(0, 128, 128, 0) 0%, rgba(70, 130, 180, 0.28) 100%);
    text-align:center;
    padding:5px;
    width:100%;
}
footer img{
    width:150px;
    height:80px;
    padding:5px;
}
footer i{
    font-size:25px;
    padding:5px;
    color:#4682B4;
}
footer p{
    font-size:15px;
}

/*----------Video section-----------*/
.container-1{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:100px;
    background:#90708C;
    color:#fff;
}

.box-1{
    flex:1;
}
.box-1 iframe{
    flex-wrap:wrap;
    width:100%;
    height:400px;
    flex-basis:20%;
    background-image:url("images/video1.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.box-2{
    flex:1;
}
.box-2 p{
    padding:50px;
}
.box-2 h3{
   text-align:center;
   margin-top:50px;
}
.container-2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:100px;
    background:#AA8F66;
    color:#fff;
}
.box-3{
    flex:1;
    order:2;
}
.box-3 iframe{
    flex-wrap:wrap;
    width:100%;
    height:400px;
    flex-basis:20%;
    background-image:url("images/video2.png");
    background-size:120% 98%;
    background-repeat:no-repeat;
}
.box-4{
    flex:1;
    order:1;
}
.box-4 p{
    padding:50px;
}
.box-4 h3{
   text-align:center;
   margin-top:50px;
}
.container-3{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:100px;
    background:#4682B4;
    color:#fff;
}
.box-5{
    flex:1;
    order:1;
}
.box-5 iframe{
    flex-wrap:wrap;
    width:100%;
    height:400px;
    flex-basis:20%;
    background-image:url("images/video4.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.box-6{
    flex:1;
    order:2;
}
.box-6 p{
    padding:50px;
}
.box-6 h3{
   text-align:center;
   margin-top:50px;
}
.container-4{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:100px;
    background:#90708C;
    color:#fff;
}
.box-7{
    flex:1;
    order:2;
}
.box-7 iframe{
    flex-wrap:wrap;
    width:100%;
    height:400px;
    flex-basis:20%;
    background-image:url("images/video3.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.box-8{
    flex:1;
    order:1;
}
.box-8 p{
    padding:50px;
}
.box-8 h3{
   text-align:center;
   margin-bottom:30px;
}
.container-5{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:100px;
    background:#AA8F66;
    color:#fff;
}
.box-9{
    flex:1;
    order:1;
}
.box-9 iframe{
    flex-wrap:wrap;
    width:100%;
    height:400px;
    flex-basis:20%;
    background-image:url("images/video5.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.box-10{
    flex:1;
    order:2;
}
.box-10 p{
    padding:50px;
}
.box-10 h3{
   text-align:center;
   margin-top:50px;
}
.container-6{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
}
.video-1{
    display:flex;
}
.video-1 iframe{
    background-image:url("images/ins1.png");
    background-size:300px 200px;
    background-repeat:no-repeat;
    flex-basis:100%;
    height:200px;
    margin:60px;
}
.video-2{
    display:flex;
}
.video-2 iframe{
    background-image:url("images/ins2.png");
    background-size:300px 200px;
    background-repeat:no-repeat;
    flex-basis:100%;
    height:200px;
    margin:60px;
}
.video-3{
    display:flex;
}
.video-3 iframe{
    background-image:url("images/ins3.png");
    background-size:300px 200px;
    background-repeat:no-repeat;
    flex-basis:100%;
    height:200px;
    margin:60px;
}
.video-4{
    display:flex;
}
.video-4 iframe{
    background-image:url("images/ins4.png");
    background-size:300px 200px;
    background-repeat:no-repeat;
    flex-basis:100%;
    height:200px;
    margin:60px;
}
.video-5{
    display:flex;
}
.video-5 iframe{
    background-image:url("images/ins5.png");
    background-size:300px 200px;
    background-repeat:no-repeat;
    flex-basis:100%;
    height:200px;
    margin:60px;
}
.video-6{
    display:flex;
}
.video-6 iframe{
    background-image:url("images/ins6.png");
    background-size:300px 200px;
    background-repeat:no-repeat;
    flex-basis:100%;
    height:200px;
    margin:60px;
}
/*-----------------Articles section---------------------------*/
.container-3d{
  display:flex;
  flex-direction:row;
  margin:20px;
  padding:20px;
  border:2px solid #eee;
}
.cover{
   background:#AA8F66;
   padding:15px;
   color:white;
   width:200px;
   margin:0px 0px 40px 0px;
   border:2px solid #90708C;

}
.main{
    padding:20px;
    margin-right:20px;

}
.author{
    width:60px;
    height:65px;
    padding:5px;
    margin:5px;
    background:#90708C;

}
i{
    font-size:30px;
    color:black;
}
i:hover{
    font-size:40px;
    color:gold;
}
small{
    padding:10px;
    background:#4682B4;
    color:#fff;

}
audio{
    outline:none;
    margin:5px;
}
time{
    padding-left:15px;
}
.3d-article1{
   flex:4;
   justify-content:space-evenly;

}
.image-cube {
   width:400px;
   height:300px;
   margin-bottom:30px;
}

.image-planet {
   width:300px;
   height:300px;  
}
.image-3d {
   width:300px;
   height:300px;  
}
.image-3d:hover {
    animation:balloon 2s linear;
}
@keyframes balloon{
    0%{
        transform:translateY(60px);
    }
    100%{
        transform:translateY(0px);
    }
}

.3d-article1 h1{
    margin:20px;
    padding:20px;
    text-transform:uppercase;
    font-size:70px;
}
.3d-article1 p{
    margin:50px;
    line-height:1em;
    text-align:center;

}
.code{
    width:500px;
    height:400px;
    padding:10px;
    
}
figcaption{
    padding-left:30px;
}
.concept{
    width:300px;
    height:200px;
    margin:10px;
}
.3d-article2{
    flex:4;
    margin:50px;

}
.para{
    padding:20px;
    background:#fff;
}
.3d-article2 h3{
    padding:50px;

}
/*----------------------Books Section------------------------------*/

.resource{
    width:100%;
    height:300px;
    float:center;
    padding:20px;
    margin:50px 0px 80px 0px;
}
.heading{
    margin-top:20px;
    padding:10px;
    width:100%;
    color:white;
    background:teal;
}
.container-books1{
    display:flex;
    flex-direction:row;
    margin:0px;
    padding:50px;
    box-shadow:0px 8px 16px #333;
    width:100%;
}

.book-front{
    width:250px;
    height:320px;
    box-shadow:18px 8px 26px 12px #333;
}
.book-back{
    width:250px;
    height:320px;
    box-shadow:18px 8px 16px  #777;
}
.holder1 ,.holder2 ,.holder3{
    display:flex;
    flex-direction:row;
    color:black;
}
.holder2{
    display:flex;
    flex-direction:column;
    margin:20px;
    padding:20px;
    
}
.holder3{
    display:flex;
    flex-direction:column;
    margin:10px;
    padding:20px;
    width:300px;
}
pre{
    font-size:18px;
    color:black;
}
.info{
    background:transparent;
}
.bok-intro{
    margin:5px;
    padding:5px;
    font-size:20px;
}
/*--------------------------Get In Touch Section ------------------*/
.headings{
    background:#0D5C63;
    color:#fff;
}
.mail{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:400px;
    margin-top:20px;  
}

.in-touch1{
    display:flex;
    justify-content:flex-start;
    margin-top:20px;
    padding:80px;
    height:300px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background:#AA8F66;
    color:#fff;
    font-size:17px;
    box-shadow:0px 4px 8px #ccc;
    animation:sign ease-in 1s;
}

.in-touch2{
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
    padding:80px;
    height:300px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    background:#90708C;
    color:#fff;
    font-size:17px;
    box-shadow:10px 4px 6px #ccc;
    animation:sign ease-in 1s;
}

@keyframes sign{
    0%{
        font-size:0px;  
    }
    100%{
        font-size:15px; 
    }
}

.contact{
    display:flex;
    padding:30px;
    background:#0D5C63;
    font-size:20px;
    color:yellow;
    font-weight:bold;
    background-image:url("images/contact.svg");
    background-size:250px;
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:300px;
    box-shadow:0px 4px 8px #ccc;
}
.sign-up{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
    margin:50px;
    padding:10px;
    background-image:url(images/signup.svg);
    background-repeat:no-repeat;
    background-position:center;
}

.subscribe{
    background:transparent;
    opacity:0.8;
    margin:30px;
    padding:20px;
    border:2px solid #4682B4;
    line-height:2em;
    color:#333;
    width:400px;
    font-size:18px;
    box-shadow:0px 4px 6px #333;
}
.subscribe label{
    padding:10px 10px 0px 10px;
    margin-top:15px;
    display:inline;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
}
i{
    color:teal;
    letter-spacing:5px;
}
.subscribe input{
    width:100%;
    padding:10px;

}
.button{
    margin-top:20px;
    color:#fff;
    font-size:20px;
    padding:10px;
    width:100%;
    background:#4682B4;
    box-shadow:0px 4px 6px #333;
}
.button:hover{
    margin-top:20px;
    color:yellow;
    font-size:20px;
    padding:10px;
    width:100%;
    background:teal;
}

/*
@media(max-width:768px){
.in-touch1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:300px;
    box-shadow:10px 4px 6px #333;
}
.in-touch2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:300px;
    box-shadow:10px 4px 6px #333;
}
.contact{
    display:flex;
    flex-direction:column;
    background-image:url("images/contact.svg");
    box-shadow:10px 4px 6px #333;
}
.subscribe{
    width:350px;
    font-size:18px;
    box-shadow:10px 4px 6px #333;
}
.subscribe label{
    padding:10px;
    margin-top:15px;
    display:inline;
}
.subscribe input{
    width:100%;
    padding:10px;

}




/*-----media queries---------------------------*/
/*
@media(max-width:768px){
nav{
    display:grid;
    grid-template-columns:repeat(2,1fr)
    align-self:center;
    background:transparent;
    padding:2px;

}
nav li{
    font-size:12px;

}
.logo img{
    width:200px;
    height:100px;
}
.banner{
    width:100%;
    height:700px;
    position:absolute;
    margin-top:20px;
    animation:banner 1s ease-in ; 
} 
@keyframes banner{
    0%{
       font-size:0px;
       }
   100%{
       font-size:30px;
    }
}

#section0{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    width:100%;
}
.banner{
    width:100%;
    height:700px;
    position:absolute;
    top:30%;
    left:-50px;
    margin:20px;
    
}
.banner h1{
    margin-left:50px;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
    font-size:50px;
    font-weight:bold;
    background:#fff;
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
   
}
.animation{
   width:100%;
   height:700px;
   position:relative;
   margin-top:50px;
   
}
.square{
    position:absolute;
    top:50%;
    left:30%;
    width:20px;
    height:20px;
    border-radius:5%;
    transform:rotateZ(230deg);
    animation:size 2s linear infinite;
    animation-delay:10s;
}
 
#section1 .main-article{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:5px;
    padding:50px;
}
.main-image{
    flex:1;
    margin:40px;

}
.main-image img{
    align-content:center;
    margin-bottom:10px;
    width:100%;
    height:300px;
}
.main-para{
    flex:1;
}
.main-para h2 p a{
    display:flex;
    flex-direction:column;
}
.main-para h2{
   padding:0px;
}
.main-para p{
     font-size:18px;
     margin-bottom:20px;
}
.main-para a {
    text-decoration:none;
}

a .btn{
    margin-top:50px;
    padding:5px;
    align-content:center;
}


#section2{
    background:#eee;
    margin-top:50px;
    padding:0px;
    color:#333;
    position:relative;
}
#section2 .main-heading{
    background:#4682B4;
    color:#fff;
    text-align:center;


}
#section2 .article2{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
    margin:10px;
    padding:10px;
    align-items:center;
    justify-self:center;
}

.image-two .vt{
    grid-column:1/2;
    align-items:center;
    position:relative;
    right:50px
}
.vt{
    padding:20px;
    margin-left:0px;
    
    width:100px;
    height:auto; 
    border:none;
    }    
    
.para-two h3{
    grid-column:1/2;
    font-size:20px;
    padding:0px;

}
.para-two p{
    grid-column:1/2;
    font-size:18px;
    padding:5px;
}

  #section3{
    background:#fff;
    margin-top:50px;
    padding:20px;
    display:flex;
    flex-direction:column;
    }
    .animation .img1{
      width:100px;
      height:100px;
    }
    .animation .img2{
      width:100px;
      height:100px;
    }
    #section4{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:50px;
    }
    #section4 .small1{
       flex:1;
       align-content:center;
    }
    .small1 img{
        width:100%;
        height:auto;
    }
    .small1 p{
        font-size:15px;
        padding:10px;
    }
    #section4 .small2{
       flex:1;
       align-content:center;
    }
    .small2 img{
        width:100%;
        height:auto;
    }
    .small2 p{
        font-size:15px;
        padding:10px;
    }

    #section4 .small3{
       flex:1;
       align-content:center;
    }
    .small3 img{
        width:100%;
        height:auto;
    }
    .small3 p{
       font-size:15px;
       padding:10px;
    }
   .container-1{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-1 iframe{
        margin-top:50px;
        width:100%;
        height:200px;
    }
    .box-2 p{
    font-size:12px;
    }
    .box-2 h3{
       text-align:center;
       margin-top:50px;
    }
    .container-2{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-3 iframe{
        margin-bottom:50px;
        width:100%;
        height:200px;
    }

    .box-4 p{
    font-size:12px;
    }
    .box-4 h3{
       text-align:center;
       margin-top:50px;
    }
    .container-3{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:20px;
    }

    .box-5 iframe{
        margin-top:50px;
        width:100%;
        height:200px;
    }

    .box-6 p{
    font-size:12px;
    }
    .box-6 h3{
       text-align:center;
       margin-top:50px;
    }
    .subscribe{
    background:transparent;
    margin:30px;
    padding:20px;
    border:2px solid #4682B4;
    line-height:2em;
    color:#333; 
    font-weight:bold;
    width:400px;
    font-size:18px;
    box-shadow:0px 4px 6px #333;
}
    .sign-up{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
    margin:50px;
    padding:10px;
    background-image:url(images/signup.svg);
    background-repeat:no-repeat;
    background-position:right;
    background-size:230px 200px;    
}
    footer{
        background:#dfe9f3 ;
        text-align:center;
        padding:5px;
        width:100%;
    }
    footer img{
        width:150px;
        height:80px;
        padding:5px;
    }
    footer i{
        font-size:25px;
        padding:5px;
        color:#4682B4;
    }
    footer p{
        font-size:15px;
    }


}
@media(max-width:900px){
    #section2{
    background:#eee;
    margin-top:50px;
    padding:5px;
    color:#333;
    }
    #section2 .heading{
        background:#4682B4;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    #section2 .article2{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;

    }
    .para-two{
        flex:1;

    }
    .image-two{
        flex:1;
    }
    .image-two iframe{
        margin:50px;
        width:300px;
        height:200px;

    }
    .para-two h3{
        flex-direction:column;
        font-size:18px;
        padding:0px;

    }
    .para-two p{
        flex-direction:column;
        font-size:16px;
        padding:5px;
    }
    .para-two a{
    flex-direction:column;
    font-size:15px;
    padding:8px;
    text-decoration:none;
    }

    a .btn{
        margin:50px ;
        padding:5px;
    }

    #section3{
        background:#eee;
        margin-top:50px;
        padding:5px;
        color:#333;
    }
    #section3 .heading{
        background:#4682B4;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;


    }
    #section3 .article2{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;

    }
    .para-three{
        flex:1;
    }
    .image-three{
        flex:1;
    }
    .image-three img{
        margin:50px;
        width:200px;
        height:300px;

    }
    .para-three h3{
        flex-direction:column;
        font-size:15px;
        padding:0px;

    }
    .para-three p{
        flex-direction:column;
        font-size:16px;
        padding:5px;
    }
    .para-three a{
    flex-direction:column;
    font-size:15px;
    padding:8px;
    text-decoration:none;
    }

    a .btn{
        margin:50px ;
        padding:5px;
    }
    #section4{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        color:#fff;
        margin:50px;
    }
    #section4 .small1{
       flex:1;
       align-content:center;

    }
    .small1 img{
        width:300px;
        height:200px;
    }
    .small1 p{
        font-size:15px;
        padding:10px;
    }
    #section4 .small2{
       flex:1;
       align-content:center;
    }
    .small2 img{
        width:300px;
        height:200px;
    }
    .small2 p{
        font-size:15px;
        padding:10px;
    }

    #section4 .small3{
       flex:1;
       align-content:center;
    }
    .small3 img{
        width:300px;
        height:200px;
    }
    .small3 p{
       font-size:15px;
       padding:10px;
    }

    .container-3d{
      display:flex;
      flex-direction:column;
      margin:20px;
      padding:10px;
      border:2px solid #eee;
    }
    .3d-article1{
       flex:2;
       flex-basis:20%;

    }
    .image-3d {
        width:300px;
        height:300px;
    }

    .3d-article1 h1{
        margin:20px;
        padding:20px;
        text-transform:uppercase;

    }
    .3d-article1 p{
        margin:5px;
        line-height:1em;
        font-size:12px;

    }
    .code{
        width:100%;
        height:200px;
        padding:10px;
    }
    .concept{
        width:200px;
        height:150px;
        margin:5px;
    }
    .3d-article2{
        flex:2;
        margin:20px;

    }
    .para{
        padding:5px;
        background:#fff;
    }
    .3d-article2 h3{
        padding:20px;

    }
}
@media(max-width:1024px){
    .resource{
        width:100%;
        height:200px;
        float:center;

    }
    .heading{
        margin-top:20px;
        padding:15px;
        color:white;
        background:teal;
        font-size:18px;
    }
    .container-books1{
        display:flex;
        flex-direction:row;
        margin:10px;
        padding:20px;
        box-shadow:0px 8px 16px #333;
    }

    .book-front{
        width:150px;
        height:220px;
        box-shadow:0px 8px 16px #333;
    }
    .book-back{
        width:150px;
        height:220px;
        box-shadow:0px 8px 16px #777;
    }
    .holder1 ,.holder2,.holder3{
    display:flex;
    flex-direction:column;
    }
    .holder2{
        display:flex;
        flex-direction:column;
        margin:20px;
        padding:20px;
    }
    pre{
        font-size:15px;
    }
    .info{

        background:transparent;
    }
    .holder3{
        display:flex;
        flex-direction:column;
        margin:20px;
        padding:20px;
        width:100%;
    }
}
*/