/*--navigation--*/
#main-nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background:transparent;
    padding:5px;

}
#main-nav li{
    list-style:none;
    display:inline;
    padding:5px;
    color:#4682B4;
    margin:0px;

}
#main-nav a{
   text-decoration:none;
   color:#4682B4;
   font-family: 'Poppins', sans-serif;

}
#main-nav li a:hover{
  color:teal;
  padding-bottom:5px;
  border-bottom:2px solid teal;
}

/*--nav media 415px--*/
@media(min-width:417px){
   #small-nav{
    display:none;
   } 
}
/*--nav media 414px--*/
@media(max-width:414px){
    #main-nav{
        display:none;
    }
    #small-nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background:transparent;
    padding:5px;
    margin-left:2px;
   }
    #small-nav li{
        list-style:none;
        display:inline;
        padding:5px;
        color:#4682B4;
        margin:0px;
    }
    #small-nav a{
       text-decoration:none;
       color:#4682B4;
       font-family: 'Poppins', sans-serif;
       font-size:18px;
    }
    #small-nav li a:hover{
      color:teal;
      padding-bottom:5px;
      border-bottom:2px solid teal;
    }
}
