@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@700&family=Poppins:wght@300&display=swap');
*{
    box-sizing:border-box;
    margin:auto;
    padding:auto;
}
body{

    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: auto;
    width:100vw;
    height:100vh;
    line-height:2em;
    overflow-x:hidden;
}

.btn{
    padding:10px;
    color:#fff;
    border:2px solid #fff;
    margin-top:50px;
    text-decoration:none;
}
h1{
    margin:0px;
    padding:5px 5px 5px 10px;
    text-transform:uppercase;
    font-size:30px;
    line-height:1.5em;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
}
h3{
   font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
}
.headings{
    background:#0D5C63;
    color:#fff;
    width:100%;
    margin:0px;
    padding:20px;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{
    font-family: 'Noto Sans', sans-serif;
}


/*--Navigation--*/
/*--big screen navigation code--*/
#main-nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background:transparent;
    padding:5px;
    margin:20px 0px 0px 0px ;
}
#main-nav li{
    list-style:none;
    display:inline;
    padding:5px;
    color:#4682B4;
    margin:0px ;

}
#main-nav a{
   text-decoration:none;
   color:#4682B4;
   font-family: 'Poppins', sans-serif;
   font-size:15px;
}
#main-nav li a:hover{
  color:teal;
  padding-bottom:5px;
  border-bottom:2px solid teal;
}
/*--currentpage in navigation--*/
.currentpg{
    margin:0px 5px 10px 2px;
    padding:5px;
    border:2px solid #AA8F66;
    border-radius:15px;
    box-shadow:2px 8px 16px #ddd;
}
/*--Media Queries for Navigation--*/
/*--nav media 417px--*/
@media(min-width:417px){
   #small-nav{
    display:none;
   } 
}
/*--nav media 414px--*/
@media(max-width:414px){
    #main-nav{
        display:none;
    }
    /*--small screen navigation code--*/
    #small-nav{
    display:flex;
    flex-wrap:wrap;
    align-self:center;
    background:transparent;
    padding:0px;
    margin:20px 0px 0px -50px ;
   }
    #small-nav li{
        list-style:none;
        display:inline;
        padding:5px;
        color:#4682B4;
        margin:0px;
    }
    #small-nav a{
       text-decoration:none;
       color:#4682B4;
       font-family: 'Poppins', sans-serif;
       font-size:16px;
    }
    #small-nav li a:hover{
      color:teal;
      padding-bottom:5px;
      border-bottom:2px solid teal;
    }
}
/*--Navigation code ends--*/
/*--Logo code--*/
.logo {
  display:flex;
  flex-direction:row;
  border-bottom:2px solid #90708C;
}
.logo .first{
    flex:1;
    align-items:start;
    font-size:35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    color:#0D5C63;
    margin:50px;
    animation:logo 1s ease-in ; 
}
.logo .mid{
    flex:1;
    color:#AA8F66;
    font-size:35px;
    margin:0px 0px 0px 2px;
}
.logo .second{
    flex:1;
    font-size:35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:bold;
    color:#4682B4;
    text-transform:UPPERCASE;
}
.logo p{
    flex:2;
    align-items:end;
    justify-content:center;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    margin:10px 20px 20px 0px;
}
@keyframes logo{
    0%{
       font-size:0px;
    }
    100%{
     font-size:40px;
    }
}
/*--logo media 414px--*/
@media(max-width:414px){
    .logo {
      display:flex;
      flex-direction:column;
      align-content:start;
      margin:5px 0px 5px 5px;
      border-bottom:2px solid #90708C;
    }
    .logo .first{
        flex:1;
        font-size:20px;
        font-family: 'Noto Sans', sans-serif;
        font-weight:bold;
        color:#0D5C63;
        margin:10px;
        animation:logo 1s ease-in ; 
    }
    .logo .mid {
        flex:1;
        color:#AA8F66;
        font-size:20px;
        margin:0px 0px 0px 2px; 
        animation:logo 1s ease-in ;
    }
    .fas fa-mouse{
        flex:1;
        color:#AA8F66;
        font-size:21px;
        margin:0px;
        animation:logo 1s ease-in ;
    }
    .logo .second{
        flex:1;
        font-size:20px;
        font-family: 'Noto Sans', sans-serif;
        font-weight:bold;
        color:#4682B4;
        animation:logo 1s ease-in ;
    }
    .logo p{
        flex:1;
        align-items:flex-start;
        justify-content:center;
        font-size:12px;
        font-family: 'Poppins', sans-serif;
    }
    @keyframes logo{
    0%{
       font-size:0px;
    }
    100%{
     font-size:20px;
    }
  }
}
/*--logo code ends--*/
/*--section0- Banner--*/
#section0{
    display:flex;
    justify-content:center;
}
#section0{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.banner{
    position:absolute;
    top:750px;
    left:30%;  
}
.banner h2{
    padding:0px;
    margin:0;
    font-size:45px;
    font-family:'Noto Sans', sans-serif;
    color:#AA8F66;
}
.words::before{
    content:'';
    border-bottom:2px solid #AA8F66;
    color:#fff;
    padding:1px;
    margin-bottom:20px;
    font-weight:bold;
    animation:banner 5s ease-in infinite ;
}
@keyframes banner{
    0%{
        content:'CREATE';
        font-family: 'Poppins', sans-serif;
    }
     50%{
        content:'DESIGN';
        font-family: 'Montserrat', sans-serif;
    }
    100%{
        content:'ANIMATE';
    }
}
.animation{
   width:100%;
   height:700px;
   position:relative;
   margin-top:20px;
}

.float1{
    position:relative;
    top:10%;
    left:1%;
    bottom:20%;
    width:300px;
    height:400px;
    animation:balloon 5s linear ;
}

@keyframes balloon{
    0%{
        transform:translateY(300px);
    }
    50%{
        transform:translateY(100px);
    }
    100%{
        transform:translateY(0px);
    }
}

/*--Section0- Banner media max-width 414px--*/
@media(max-width:414px){
    
    .banner h2{
        padding:0;
        margin:10px;
        font-size:16px;
        font-family:'Noto Sans', sans-serif;
        color:#AA8F66;
    }
    .float1{
        position:relative;
        top:10%;
        left:1%;
        bottom:20%;
        width:100%;
        height:400px;
        animation:balloon 5s linear ;
    }
    
}
/*--Section1--*/
#section1{
    background:#eee;
    margin-top:50px;
    box-shadow:0px 8px 16px #333;
}
#section1 .main-heading{
    background:#0D5C63;
    color:#fff;
    padding:20px;
}
#section1 .main-article{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:5px;
    padding:50px;   
}
.main-image{
    flex:1;
    margin:20px 20px 20px 80px;
}
.main-image img{
    align-content:center;
    margin-bottom:10px;
    width:300px;
    height:200px;
}
.main-para{
    flex:1;
}
.main-para h2 p a{
    display:flex;
    flex-direction:column;
    margin:10px ;
}
.main-para h2{
   padding:15px;

}
.main-para p{
     font-size:18px;
     margin:10px 10px 25px 10px;
     padding:5px;
}
.main-para a {
    text-decoration:none;
    margin:15px;
    background: #4682B4;
    padding:10px;
    color:white;
}
.main-para a:hover{
    background: #AA8F66;
    border:2px inset #AA8F66; 
}
a .btn{
    margin:50px;
    padding:5px;  
}

/*--Section1 media max width 414px --*/
@media(max-width:414px){
    
    #section1 .main-article{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-between;
        margin:5px;
        padding:50px;   
    }
    .main-image{
        flex:1;
        margin:5px;  
    }
    .main-image img{
        align-content:center;
        margin-bottom:10px;
        width:100%;
        height:150px;
    }
    .main-para{
        flex:1;
    }
    .main-para h2 p a{
        display:flex;
        flex-direction:column;
        margin:20px ;
    }
    .main-para h2{
       padding:15px;
    
    }
    .main-para p{
         font-size:15px;
         margin:10px 10px 25px 10px;
         padding:5px;
    }
    .main-para a {
        text-decoration:none;
        margin:15px ;
        background: #4682B4;
        padding:10px;
        font-size:12px;
        color:white;
    }
    .main-para a:hover{
        background: #AA8F66;
        border:2px inset #AA8F66; 
    }
    a .btn{
        margin:50px;
        padding:5px;  
    }
}

/*--Section2 video tutorials--*/
    #section2{
        background:#eee;
        margin-top:50px;
        padding:5px;
        color:#333; 
    }
    #section2 .heading{
        background:#90708C;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    #section2 .article2{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;  
    }
    .para-two{
        flex-direction:row;
        flex:1;
        order:1;
    }
    .image-two{
        flex:1;
        order:2;
    }
    .image-two iframe{
        margin:15px 15px 15px 80px;
        width:300px;
        height:200px;
    }
    .para-two h3{
        flex-direction:column;
        font-size:20px;
        padding:0px;
    }
    .para-two p{
        flex-direction:column;
        font-size:18px;
        padding:8px;
    }
    .para-two a{
        flex-direction:column;
        font-size:15px;
        text-decoration:none;
        margin:10px ;
        background: #4682B4;
        padding:10px;
        color:white;
    }
    .para-two a:hover{
        background: #AA8F66;
        border:2px inset #AA8F66; 
    }
    a .btn{
        margin:50px ;
        padding:5px;
    }
 
/*--Section2 media max-width 414px--*/
@media(max-width:414px){
    
    #section2 .heading{
        background:#90708C;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    #section2 .article2{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;  
    }
    .para-two{
        flex:1;
        order:1;
    }
    .image-two{
        flex:1;
        order:1;
    }
    .image-two iframe{
        margin:50px 10px 10px 10px;
        width:100%;
        height:200px;
    }
    .para-two h3{
        
        font-size:20px;
        padding:0px;
    }
    .para-two p{
        font-size:15px;
        padding:8px;
    }
    .para-two a{
        font-size:10px;
        text-decoration:none;
        margin:10px ;
        background: #4682B4;
        padding:8px;
        color:white;
    }
    .para-two a:hover{
        background: #AA8F66;
        border:2px inset #AA8F66; 
    }
    a .btn{
        margin:50px ;
        padding:5px;
    }
}
/*--Section3 Books--*/
#section3{
    background:#eee;
    margin-top:50px;
    padding:5px;
    color:#333;
    box-shadow:0px 4px 8px #ccc;
}
#section3 .heading{
    background:#AA8F66;
    color:#fff;
    padding:5px;
    margin:0px;
    width:100%;
    text-align:center;
}
#section3 .article2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:15px;
    padding:20px;

}
.para-three{
    flex:1;
    order:1;
}
.image-three{
    flex:1;
     order:2;
}
.image-three img{
    margin:50px;
    width:300px;
    height:400px;
    box-shadow:0px 4px 8px #555;

}
.para-three h3{
    flex-direction:column;
    font-size:18px;
    padding:0px;

}
.para-three p{
    flex-direction:column;
    font-size:18px;
    padding:5px;
}
.para-three a{
    flex-direction:column;
    font-size:15px;
    text-decoration:none;
    margin:10px ;
    background: #4682B4;
    padding:10px;
    color:white;
}
.para-three a:hover{
    background: #AA8F66;
    border:2px inset #AA8F66; 
}

a .btn{
    margin:50px ;
    padding:5px;
}
/*--Section3 Books media max-width 414px--*/
@media(max-width:414px){
    
    #section3 .heading{
        background:#AA8F66;
        color:#fff;
        padding:5px;
        margin:0px;
        width:100%;
        text-align:center;
    }
    #section3 .article2{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin:15px;
        padding:20px;
    
    }
    .para-three{
        flex:1;
        order:1;
    }
    .image-three{
        flex:1;
        order:1;
    }
    .image-three img{
        margin:25px 5px 5px 5px;
        width:100%;
        height:350px;
        box-shadow:0px 4px 8px #555;
    
    }
    .para-three h3{
        flex-direction:column;
        font-size:18px;
        padding:0px;
    
    }
    .para-three p{
        flex-direction:column;
        font-size:15px;
        padding:5px;
    }
    .para-three a{
        flex-direction:column;
        font-size:12px;
        text-decoration:none;
        margin:10px ;
        background: #4682B4;
        padding:10px;
        color:white;
    }
    .para-three a:hover{
        background: #AA8F66;
        border:2px inset #AA8F66; 
    }
    a .btn{
        margin:50px ;
        padding:5px;
    }
}
/*--Section4 More articles--*/
#section4{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    color:#333;
    margin:50px  
}
#section4 .small1{
   flex:1;
   order:1;
   align-content:center;
   flex-wrap:wrap;
}
.small1 img{
    width:300px;
    height:auto;
    margin:20px;
}
.small1 p{
    font-size:18px;
    padding:25px;
    margin-left:2px
    
}
.small1 a{
    text-decoration:none;
    color:#333;
}
.archives{
    background:#4682B4;
    color:white;
}
#section4 .small2{
   flex:1;
   order:2;
}
.small2 img{
    width:300px;
    height:auto;
    margin:20px;
}
.small2 p{
    font-size:18px;
    padding:25px;
    
}
.small2 a{
    text-decoration:none;
    color:#333;
}

#section4 .small3{
   flex:1;
   order:3;
   align-content:center;
}
.small3 img{
    width:300px;
    height:auto;
    margin:20px;
}
.small3 p{
   font-size:18px;
   padding:25px;
   
}
.small3 a{
    text-decoration:none;
    color:#333;
}
/*--Section3 Books media max-width 414px--*/
@media(max-width:414px){
    #section4{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:center;
        color:#333;
        margin:15px;
        
    }
    #section4 .small1{
       flex-direction:column;
       align-items:center;
       width:100%;
       height:200px;
    }
    .small1 img{
        width:100%;
        height:auto;
        margin:5px;
    }
    .small1 p{
        font-size:15px;
        padding:25px;
        margin-left:2px
        
    }
    .small1 a{
        text-decoration:none;
        color:#333;
    }
    .archives{
        background:#4682B4;
        color:white;
    }
    #section4 .small2{
        flex-direction:column;
        width:100%;
        height:200px;
    }
    .small2 img{
        width:100%;
        height:auto;
        margin:5px;
    }
    .small2 p{
        font-size:15px;
        padding:25px; 
    }
    .small2 a{
        text-decoration:none;
        color:#333;
    }
    
    #section4 .small3{
       flex-direction:column;
       align-items:center;
       width:100%;
       height:200px;
    }
    .small3 img{
        width:100%;
        height:auto;
        margin:5px;
    }
    .small3 p{
       font-size:15px;
       padding:25px;
       
    }
    .small3 a{
        text-decoration:none;
        color:#333;
    }

}
/*--Footer--*/
    footer{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        background:linear-gradient(180deg, rgba(0, 128, 128, 0) 0%, rgba(70, 130, 180, 0.28) 100%);
        text-align:center;
        padding:5px;
        width:100%;
        border-top:2px solid #AA8F66;
        margin:0px;
    }
    .logo-small {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .logo-small  .first{
        flex:1;
        align-items:center;
        font-size:20px;
        font-family: 'Noto Sans', sans-serif;
        font-weight:bold;
        color:#0D5C63;
        margin:20px;
        animation:logo 1s ease-in ; 
    }
    .logo-small  .mid{
        flex:1;
        color:#AA8F66;
        font-size:20px;
        margin:0px;
        animation:logo 1s ease-in ;
    }
    .logo-small  i{
        flex:1;
        color:#AA8F66;
        font-size:21px;
        margin:0px;
        animation:logo 1s ease-in ;
    }
    .logo-small  .second{
        flex:1;
        font-size:20px;
        font-family: 'Noto Sans', sans-serif;
        font-weight:bold;
        color:#4682B4;
        text-transform:UPPERCASE;
        animation:logo 1s ease-in ;
    }
    /*-animation logo-small*/
    @keyframes logo{
        0%{
        font-size:0px;
        }
        100%{
        font-size:25px;
        }
    }
    footer i{
        font-size:22px;
        padding:5px;
        color:#4682B4;
    }
    footer p{
        font-size:10px;
    }

/*--------------------- Articles Page-------------------------------------*/
.container-3d{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:10px;
    padding:10px;
    border-bottom:2px solid #333;
  }
  .cover{
     background:#AA8F66;
     padding:15px;
     color:white;
     width:200px;
     margin:0px 0px 40px 0px;
     border:2px solid #90708C;
  
  }
  .main{
      padding:20px;
      margin-right:10px;
  
  }
  .author{
      width:60px;
      height:65px;
      padding:10px;
      margin:5px 5px 0px 0px;
      background:#90708C;
  }
  .light{
      font-size:30px;
      color:black;
  }
  .light:hover{
      font-size:40px;
      color:gold;
  }
  small{
      padding:10px;
      background:#4682B4;
      color:#fff;
  
  }
  .main-audio{
    outline:none;
    margin:0px;
    background:#eee;
    border:2px solid#4682B4;
    width:250px;
}
  audio{
      outline:none;
      margin:20px 0px 0px 0px;
      background:#eee;
      border:2px solid#4682B4;
      width:220px;
  }
  time{
      padding-left:10px;
  }
  article {
      flex:4;
      justify-content:space-between;
  }
  .image-cube {
     width:300px;
     height:300px;
     margin-bottom:30px;
  }
  
  .image-planet {
     width:300px;
     height:300px;  
  }
  .image-3d {
     width:300px;
     height:300px;  
  }
  .image-3d:hover {
      animation:balloons 2s linear;
  }
  @keyframes balloons{
      0%{
          transform:translateY(60px);
      }
      100%{
          transform:translateY(0px);
      }
  }
  .content1{
      flex:8;
  }
  .content1  h1{
      margin:20px;
      padding:20px;
      text-transform:uppercase;
      font-size:30px;
  }
  .content1 p{
      margin:10px;
      line-height:30px;
  }
  .code{
      width:300px;
      height:250px;
      padding:10px;  
  }
  .code1{
      width:350px;
      height:500px;
  }
  .code2{
      width:330px;
      height:400px;
      padding:10px; 
  }
  .code3{
      width:330px;
      height:400px;
      padding:10px; 
  }
  figcaption{
      padding-left:30px;
  }
  .concept{
      display:flex;
      flex-wrap:wrap;
      align-self:flex-start;
      width:220px;
      height:200px;
      
  }
  .content2{
      width:400px;
      height:auto;
      font-size:10px;
  }
  .para1 {
      margin:10px 10px 5px 5px;
      padding:0px;
      background:#AA8F66;
      color:white;
      font-size:18px;
  }
  .para2 {
    margin:0px 10px 10px 5px;
    padding:25px;
    background:#AA8F66;
    color:white;
    font-size:16px;
}
  .content2  h3{
      padding:50px;
  
  }

  /*-----Articles Page media(max-width:414px)----------*/
  @media(max-width:414px){
    .container-3d{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-between;
        margin:2px;
        padding:5px;
        border-bottom:2px solid #333;
    }
    .cover{
        background:#AA8F66;
        padding:15px;
        color:white;
        width:200px;
        margin:0px 0px 40px 0px;
        border:2px solid #90708C;
    
    }
    .main {
        padding:20px;
        margin-right:5px;
        font-size:12px;
    }
    .author{
        width:40px;
        height:45px;
        padding:4px;
        margin:2px 2px 0px 0px;
        background:#90708C;
    }
    .light{
        font-size:18px;
        color:#fff;
    }
    .light:hover{
        font-size:25px;
        color:gold;
    }
    small{
        padding:5px;
        background:#4682B4;
        color:#fff;
    }
    .main-audio{
        outline:none;
        margin:0px;
        background:#eee;
        border:2px solid#4682B4;
        width:70%;
    }
    audio{
        outline:none;
        margin:0px;
        background:#eee;
        border:2px solid#4682B4;
        width:100%;
    }
    time{
        padding-left:10px;
    }
    article {
        justify-content:space-around;
    }
    
    .image-planet {
        width:100%;
        height:300px;  
    }
    .image-3d {
        width:100%;
        height:300px;  
    }
    .image-3d:hover {
        animation:balloons 2s linear;
    }
    @keyframes balloons{
        0%{
            transform:translateY(60px);
        }
        100%{
            transform:translateY(0px);
        }
    }
    .content1  h1{
        margin:20px;
        padding:20px;
        text-transform:uppercase;
        font-size:20px;
    }
    .content1 p{
        margin:5px;
        line-height:30px;
        font-size:15px;
    }
    .code{
        width:150px;
        height:100px;
        padding:10px;  
    }
    .code1{
        width:80%;
        height:400px;
    }
    .code2{
        width:80%;
        height:300px;
        padding:10px; 
    }
    .code3{
        width:80%;
        height:300px;
        padding:10px; 
    }
    figcaption{
        padding-left:30px;
    }
    .concept{
        width:70%;
        height:100px;
        margin:2px;
    }
    .content2{
        width:80%;
        height:auto;
        font-size:10px;
        margin:50px 10px 50px 0px;
        padding:5px;
    }
    .para1 {
        margin:5px 5px 2px 2px;
        padding:0px;
        background:#AA8F66;
        color:white;
        font-size:15px;
    }
    .para2 {
      margin:0px 5px 5px 2px;
      padding:25px;
      background:#AA8F66;
      color:white;
      font-size:12px;
  }
    .content2  h3{
        padding:20px;
    
    }
  }

/*----------------Videos Page--------------------------------*/
.resource{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-self:center;
    width:100%;
    height:300px;
    margin:20px;  
    
}
.container-1{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#90708C;
    color:#fff;
}
.box-1{
    flex:1;
    padding:5px;
    margin:70px 30px 30px 50px;
}
.box-1 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-2{
    flex:1;
    padding:20px ;
    margin:20px;
}
.box-2 p{
    flex-direction:column;
    font-size:15px;
    margin:5px;
    padding:5px;
}
.box-2 h3{
    flex-direction:column;
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#AA8F66;
    color:#fff;
}
.box-3{
    flex:1;
    padding:5px;
    margin:60px 30px 30px 50px;
}
.box-3 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}

.box-4{
    flex:1;
    order:1;
    padding:20px;
}
.box-4 p{
    flex-direction:column;
    font-size:15px;
    margin:5px;
    padding:5px;
    
}
.box-4 h3{
    flex-direction:column;
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-3{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#4682B4;
    color:#fff;
}
.box-5{
    flex:1;
    padding:5px;
    margin:50px 30px 30px 50px;
     
}
.box-5 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-6{
    flex:1;
   
}
.box-6 p{
    flex-direction:column;
    font-size:15px;
    margin:5px;
    padding:5px;
}
.box-6 h3{
    flex-direction:column;
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-4{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#90708C;
    color:#fff;
    
}
.box-7{
    flex:1;
    padding:5px;
    margin:80px 30px 30px 50px;  
}
.box-7 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-8{
    flex:1;
    
}
.box-8 p{
    padding:15px;
    margin:30px;
}
.box-8 h3{
    flex-direction:column;
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-5{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;
    margin:40px;
    padding:20px;
    background:#AA8F66;
    color:#fff;
}
.box-9{
    flex:1;
    padding:5px;
    margin:50px 30px 30px 50px;
   
}
.box-9 img{
    width:300px;
    height:200px;
    border:5px solid #eee;
    border-radius:10%;
}
.box-10{
    flex:1;
}
.box-10 p{
    padding:15px;
    margin:30px;
}
.box-10 h3{
    flex-direction:column;
    text-align:center;
    font-size:20px;
    padding:10px;
    margin:20px;
}
.container-6{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    border:1px solid #ccc;

}
video::-webkit-media-controls-panel {
    background-image: linear-gradient(4.4rad,transparent,transparent,#333)!important;
    
  }
.video-1{
    display:flex;
    width:300px;
    height:200px;
    margin:60px 60px 60px 30px;
      
}

.video-2{
    display:flex;
    width:300px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-3 {
    display:flex;
    width:300px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-4 {
    display:flex;
    width:300px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-5 {
    display:flex;
    width:300px;
    height:200px;
    margin:60px 60px 60px 30px;
}

.video-6 {
    display:flex;
    width:300px;
    height:200px;
    margin:60px 60px 60px 30px;
}

/*-- Videos Page @media(max-width:414px)--*/
@media(max-width:414px){
    .resource{
        display:flex;
        justify-content:center;
        align-content:center;
        width:150px;
        height:100px;
        padding:15px;
        margin:50px 0px 50px 20px;
    }

    .container-1{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-around;
        border:1px solid #ccc;
        margin:5px;
        padding:5px;
        background:#90708C;
        color:#fff;
    }
    .box-1{
        flex:1;
        padding:2px;
        margin:25px;
    }
    .box-1 img{
        width:100%;
        height:auto;
    }
    .box-2{
        flex:1;
        padding:0px;
    }
    .box-2 p{
        flex-direction:column;
        font-size:15px;
        margin:5px;
        padding:5px;
    }
    .box-2 h3{
        flex-direction:column;
        font-size:18px;
        padding:15px;
        margin:25px;
    }
    .container-2{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-around;
        border:1px solid #ccc;
        margin:5px;
        padding:5px;
        background:#AA8F66;
        color:#fff;
    }
    .box-3{
        flex:1;
        padding:2px;
        margin:30px;
    }
    .box-3 img{
        width:100%;
        height:auto;
    }
    .box-4{
        flex:1;
        padding:2px;
    }
    .box-4 p{
        flex-direction:column;
        font-size:15px;
        margin:5px;
        padding:5px;
        
    }
    .box-4 h3{
        flex-direction:column;
        font-size:18px;
        padding:5px;
        margin:5px;
    }
    .container-3{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-around;
        border:1px solid #ccc;
        margin:5px;
        padding:5px;
        background:#4682B4;
        color:#fff;
    }
    .box-5{
        flex:1;
        padding:2px;
        margin: 30px;
       
    }
    .box-5 img{
        width:100%;
        height:150px;
    }
    .box-6{
        flex:1;
        padding:2px;
    }
    .box-6 p{
        flex-direction:column;
        font-size:15px;
        margin:5px;
        padding:5px;
    }
    .box-6 h3{
        flex-direction:column;
        font-size:18px;
        padding:5px;
        margin:5px;
    }
    .container-4{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-around;
        border:1px solid #ccc;
        margin:5px;
        padding:5px;
        background:#90708C;
        color:#fff;
    }
    .box-7{
        flex:1;
        padding:2px;
        margin:30px;
    }
    .box-7 img{
        width:100%;
        height:150px;
    }
    .box-8{
        flex:1;
        padding:2px;
    }
    .box-8 p{
        flex-direction:column;
        font-size:15px;
        margin:5px;
        padding:10px;
    }
    .box-8 h3{
        flex-direction:column;
        font-size:18px;
        padding:5px;
        margin:5px;
    }
    .container-5{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-around;
        border:1px solid #ccc;
        margin:5px;
        padding:5px;
        background:#AA8F66;
        color:#fff;
    }
    .box-9{
        flex:1;
        padding:2px;
        margin:30px;
    }
    .box-9 img{
        width:100%;
        height:150px;
    }
    .box-10{
        flex:1;
        padding:2px;
    }
    .box-10 p{
        flex-direction:column;
        font-size:15px;
        margin:5px;
        padding:5px;
    }
    .box-10 h3{
        flex-direction:column;
        font-size:18px;
        padding:5px;
        margin:5px;
    }
    .container-6{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:space-around;
        border:none;
    }
    video::-webkit-media-controls-panel {
        background-image: linear-gradient(4.1rad,transparent,#d3dde6,transparent,transparent,transparent,transparent,#eee) !important;
        background-size:300px 300px !important;
      }
    .video-1{
        display:flex;
        flex-wrap:wrap;
        
    }
    .video-1{
        max-width:80%;
        height:100%;
        padding:5px;
        margin:20px;
    }
    .video-2{
        display:flex;
    }
    .video-2 {
        max-width:80%;
        height:100%;
        padding:5px;
        margin:20px;
    }
    .video-3{
        display:flex;
    }
    .video-3{
        max-width:80%;
        height:100%;
        padding:5px;
        margin:20px;
    }
    .video-4{
        display:flex;
    }
    .video-4{
        max-width:80%;
        height:100%;
        padding:5px;
        margin:20px;
    }
    .video-5{
        display:flex;
    }
    .video-5{
        max-width:80%;
        height:100%;
        padding:5px;
        margin:20px;
    }
    .video-6{
        display:flex;
    }
    .video-6{
        max-width:80%;
        height:100%;
        padding:5px;
        margin:20px;
    }
}

/*----------Books Page---------------*/
.resource{
    width:100%;
    height:300px;
    float:center;
    padding:20px;
    margin:50px 0px 80px 0px;
}
.heading{
    margin-top:20px;
    padding:10px;
    width:100%;
    color:white;
    background:teal;
}
.container-books1{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:0px;
    padding:20px 0px 0px 10px;
    width:100%;
    box-shadow:2px 4px 6px #ddd;
}

.book-front{
    width:180px;
    height:260px;
    box-shadow:18px 8px 26px 12px #ddd;
}
.book-back{
    width:180px;
    height:265px;
    box-shadow:18px 8px 16px  #ddd;
}
.holder1 ,.holder2 ,.holder3{
    display:flex;
    flex-direction:row;
   
}
.holder2{
    display:flex;
    flex-direction:column;
    margin:20px;
    padding:20px;
    
}
.holder3{
    display:flex;
    flex-direction:column;
    margin:10px;
    padding:20px;
    width:300px;
}
pre small{
    color:black;
    font-size:15px;
    margin:10px
    
}
.info{
    background:transparent;
}
.bok-intro{
    flex-direction:column;
    margin:5px;
    padding:5px;
    font-size:20px;
}
/*---Books media(max-width:414px)----*/
@media(max-width:414px){
    .resource{
        display:flex;
        flex-wrap:wrap;
        align-self:center;
        width:100%;
        height:200px;
        padding:20px;
        margin:50px 0px 80px 0px;
    }
    .heading{
        margin-top:20px;
        padding:10px;
        width:100%;
        color:white;
        background:teal;
    }
    .container-books1{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin:0px;
        padding:10px 0px 0px 10px;
        width:100%;
        height:auto;
        box-shadow:2px 4px 6px #ddd;
    }
    .book-front{
        flex-direction:column;
        align-self:center;
        width:85px;
        height:160px;
        box-shadow:18px 8px 16px  #ddd;
    }
    .book-back{
        flex-direction:column;
        align-self:center;
        width:85px;
        height:165px;
        box-shadow:18px 8px 16px  #ddd;
    }

    .holder1{
        display:flex;
        flex-direction:row;
        align-self:center;
    
    }
    .holder2 ,.holder3{
        display:flex;
        flex-direction:column;
        margin:20px;
    }
    .holder2{
        display:flex;
        flex-direction:column;
        margin:20px 5px 5px 5px;
        padding:5px;
        
    }
    .holder3{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        margin:10px 5px 10px 0px;
        padding:5px;
        width:100%;
        height:auto;
    }
    .holder3 p{
        margin:10px 10px 10px 0px;
        padding:10px;
    }
    pre small{
        flex-direction:column;
        flex-wrap:wrap;
        color:black;
        font-size:12px;
        margin:5px;   
    }
    .info{
        background:transparent;
    }
    .book-intro{
        flex-direction:column;
        flex-wrap:wrap;
        padding:20px 10px 20px 0px;
        font-size:10px;
       
    }
}


/*--Get In Touch Section------------------------*/
main-intouch{
    overflow-x:hidden;
    margin:0;

}
.mail{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-self:center;
    width:100%;
    height:300px;
    margin:20px;  
}

.in-touch1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top:50px;
    padding:50px;
    height:300px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background:#AA8F66;
    color:#fff;
    font-size:17px;
    box-shadow:0px 4px 8px #ccc;
    animation:sign ease-in 1s;
}

.in-touch2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:10px 0px 10px 0px;
    padding:80px;
    height:300px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    background:#90708C;
    color:#fff;
    font-size:17px;
    box-shadow:10px 4px 6px #ccc;
    animation:sign ease-in 1s;
}

@keyframes sign{
    0%{
        font-size:0px;  
    }
    100%{
        font-size:15px; 
    }
}
.contact{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    padding:5px;
    background:#0D5C63;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    background-image:url("contact.svg");
    background-size:250px;
    background-repeat:no-repeat;
    background-position:center;
    max-width:100%;
    height:400px;
    box-shadow:0px 4px 8px #ccc;
}
.sign-up{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    margin:50px;
    padding:10px;
    background-image:url("signup.svg");
    background-repeat:no-repeat;
    background-position:top right;
    background-size:500px;
    
}

.subscribe{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    background:#AA8F66;
    opacity:0.8;
    margin:20px;
    padding:20px;
    border:2px solid #4682B4;
    line-height:2em;
    color:#fff;
    width:400px;
    font-size:20px;
    box-shadow:0px 4px 6px #333;
}
.subscribe label{
    display:inline;
    padding:10px 10px 0px 10px;
    margin:15px;
    font-family:'Poppins', sans-serif;
    font-size:18px;
    font-weight:bold;
    text-shadow:0px 4px 6px #333;
}
.icon{
    color:#fff;
    letter-spacing:6px;
    text-shadow:0px 4px 6px #333;
}
.subscribe input{
    width:100%;
    padding:10px;

}
.button{
    margin-top:20px;
    color:#fff;
    font-size:20px;
    text-shadow:0px 4px 6px #333;
    padding:10px;
    width:100%;
    background:#4682B4;
    box-shadow:0px 4px 6px #333;
}
.button:hover{
    margin-top:20px;
    color:yellow;
    font-size:20px;
    padding:10px;
    width:100%;
    background:teal;
}

/*--Get In Touch media(max-width:414px)---*/
@media(max-width:414px){
    .mail{
        display:flex;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-self:center;
        width:100%;
        height:150px;
        margin:10px;  
    }

    .in-touch1{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        margin:0px;
        padding:15px;
        height:300px;
        width:100%;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        background:#AA8F66;
        color:#fff;
        font-size:12px;
        box-shadow:0px 4px 8px #ccc;
        animation:sign ease-in 1s;
    }

    .in-touch2{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin:0px 0px 0px 0px;
        padding:15px;
        width:100%;
        height:300px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        background:#90708C;
        color:#fff;
        font-size:12px;
        box-shadow:10px 4px 6px #ccc;
        animation:sign ease-in 1s;
    }

    @keyframes sign{
        0%{
            font-size:0px;  
        }
        100%{
            font-size:15px; 
        }
    }
    .contact{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin:20px 5px 10px 5px;
        padding:5px;
        background:#0D5C63;
        width:100%;
        height:500px;
        font-size:15px;
        color:#fff;
        font-weight:bold;
        background-image:url("contact.svg");
        background-size:200px;
        background-repeat:no-repeat;
        background-position:center;
        box-shadow:0px 4px 8px #ccc;
        text-shadow:0px 4px 6px #333;
    }
    .sign-up{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-between;
        align-items:flex-start;
        margin:30px;
        padding:10px;
        background-image:url("signup.svg");
        background-repeat:no-repeat;
        background-position:right bottom;
        background-size:100%;
    }

    .subscribe{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:center;
        align-items:flex-start;
        background:transparent;
        opacity:0.8;
        margin:5px;
        padding:15px;
        background:#AA8F66;
        border:2px solid #4682B4;
        line-height:2em;
        color:#fff;
        font-weight:bold;
        width:100%;
        box-shadow:0px 4px 6px #333;
    }
    .subscribe label{
        display:inline;
        padding:5px 5px 0px 5px;
        margin:10px;
        font-family:'Poppins', sans-serif;
        font-size:14px;
        text-shadow:0px 4px 6px #333;
    }
    .icon{
        color:#4682B4;
        letter-spacing:5px;
        text-shadow:0px 4px 6px #333;
    }
    .subscribe input{
        width:100%;
        padding:10px;

    }
    .button{
        margin-top:20px;
        color:#fff;
        font-size:18px;
        padding:10px;
        width:100%;
        background:#4682B4;
        box-shadow:0px 4px 6px #333;
        text-shadow:0px 4px 6px #333;
    }
    .button:hover{
        margin-top:20px;
        color:yellow;
        font-size:18px;
        padding:10px;
        width:100%;
        background:teal;
    }
}
